<ion-view view-title="Create Activity">
    
    <ion-nav-buttons side="left">
        <a ng-click="goToBackPageHandler()"
        class="cs-backbtn button button-icon icon ion-android-arrow-back font18 fff"></a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    
    <ion-content>
        
        <div class="coman-list clrd-bg sticky" ng-if="drDetail.dr_id">
            <div class="center-item">
                <div class="cs-icon">{{drDetail.dr_name[0]}}</div>
                <div class="cs-content">
                    <p>{{drDetail.dr_name}}</p>
                    <span>{{drDetail.contact_mobile_no}}</span>
                    <a ng-if="drDetail.email" class="icon-content"><i class="material-icons">email</i>
                        {{drDetail.email}}</a>
                    </div>
                    
                    <a href="tel: {{drDetail.contact_mobile_no}}" class="dialer"><i
                        class="material-icons">call</i></a>
                    </div>
                </div>
                
                <form ng-submit="!AddForm.$invalid && onActivateGPSLocationForActivityHandler()" name="AddForm" novalidate>
                    
                    <div ng-if="!drDetail.dr_id" class="padding16">
                        <div class="cs-add-form">
                            <div>
                                <div class="cs-add-form mt15">
                                    <div class="field-input">
                                        <!-- <select ng-model="data.type" ng-options="row.type as row.type for row in drOrderTypeData"
                                            ng-change="getLeadDataonChangeLeadType(data.type)" class="browser-default">
                                            <option value="" disabled selected>Select Type</option>
                                        </select> -->
                                        <select class="browser-default" ng-model="data.type" ng-change="getLeadDataonChangeLeadType(data.type)" name="type" required>
                                            <option value="" disabled selected>Select Type <span>*</span></option>
                                            <option value="Dealer">Dealer</option>
                                            <option value="Distributor">Distributor</option>
                                            <option value="End User">End User</option>
                                            <option value="Channel Partner">Channel Partner</option>
                                            <option value="Retailer">Retailer</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="field-input">
                                    <label for="last_name" class="fix-label">Select Coustmer</label>
                                    <div class="add-css-select pt0 selectopt no-padding  add2">
                                        <searchable-multiselect display-attr="Key" selected-items="data.dr_name" all-items="allLeadData" add-item="single_select_dr(item)"></searchable-multiselect>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="padding16">
                        <div class="form-space">
                            <div>
                                <label ng-class="{'has-error': AddForm.activityType.$invalid && AddForm.$submitted}" class="item-input item-select cs-select csm-input mb0">
                                    <div class="input-label">Select Activity Type</div>
                                    <select name="activityType" ng-model="data.activityType" required>
                                        <option value="" disabled selected>Select Activity Type <sup>*</sup></option>
                                        <option ng-show="row.name !='Call'" ng-repeat="row in activityTypeList" value="{{row.name}}">{{row.name}}</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <!-- ng-hide="data.canNewMeetingStart && data.canNewMeetingStart=='No' && row.name == 'Meeting'" -->
                        <div ng-if="data.activityType !='Meeting'" class="form-space">
                            <label class="item-input item-select cs-select csm-input mb0" ng-class="{'has-error': AddForm.status.$invalid && AddForm.$submitted}">
                                <div class="input-label">Update Lead Status</div>
                                <select name="status" ng-model="data.status" ng-change="getReason(data.status);getLeadCategoryList(data.status)" required>
                                    <option value="" disabled selected>Select Lead Status <sup>*</sup></option>
                                    <option ng-repeat="row in leadStatusList" value="{{row.status_name}}">{{row.status_name}}</option>
                                </select>
                            </label>
                        </div>
                        
                        <div ng-if="data.activityType !='Meeting'" class="form-space">
                            <label class="item-input item-select cs-select csm-input mb0" ng-class="{'has-error': AddForm.category.$invalid && AddForm.$submitted}">
                                
                                <div class="input-label">Update Lead Category</div>
                                
                                <select name="category" ng-model="data.category"  ng-options="row.name as row.name for row in leadCategoryList" required>
                                    
                                    <option value="" disabled selected>Select Lead Category <sup>*</sup></option>
                                    
                                </select>
                            </label>
                        </div>
                        
                        
                        <div ng-if="data.activityType !='Meeting' && (data.status == 'Lost' || data.status == 'Disqualified' || data.status == 'Qualified Close' || data.status == 'Validate' || data.status == 'Qualified')" class="form-space">
                            <label class="item-input item-select cs-select csm-input mb0" ng-class="{'has-error': AddForm.reason.$invalid && AddForm.$submitted}">
                                <div class="input-label">
                                    {{(data.status == 'Qualified' || data.status == 'Validate') ? 'No Closer Reason' : 'Status Reason'}}
                                </div>
                                <select name="reason" ng-model="data.reason" ng-change="CHECK_POSTPONE()" required>
                                    <option value="" disabled selected>Select {{data.status}} Reason <sup>*</sup></option>
                                    <option ng-repeat="row in leadReasonList" value="{{row.name}}">{{row.name}}</option>
                                </select>
                            </label>
                        </div>
                        
                        <div ng-if="data.activityType !='Meeting'" class="cs-add-form">
                            <div class="input-field field-input" ng-class="{'has-error': AddForm.remark.$invalid && AddForm.$submitted}">
                                <label for="last_name">Remark</label>
                                <textarea ng-model="data.remark" name="remark" class="validate"
                                style="height: 100px !important; padding: 10px !important;" required></textarea>
                            </div>
                        </div>
                        
                        <div ng-if="data.activityType !='Meeting'" ng-class="{'has-error': AddForm.isFollowUp.$invalid && AddForm.$submitted}" class="chekIt no-padding">
                            <label>
                                <ion-checkbox ng-model="data.isFollowUp" ng-disabled="data.disabled" name="isFollowUp"> </ion-checkbox>
                                Do you want to create any follow up ?
                            </label>
                        </div>
                        
                        <div ng-if="data.isFollowUp && data.activityType !='Meeting'" class="cs-add-form mt20">
                            <div ng-class="{'has-error': Addform.followUpType.$invalid && Addform.$submitted}" class="field-input">
                                <select ng-model="data.followUpType" name="followUpType" class="browser-default" required>
                                    <option value="" disabled selected>FollowUp Type</option>
                                    <option ng-show="row.name!='Call'" ng-repeat="row in activityTypeList" value="{{row.name}}">{{row.name}}</option>
                                </select>
                            </div>
                            
                            <div ng-class="{'has-error': AddForm.followUpDate.$invalid && AddForm.$submitted}" class="input-field field-input">
                                <input ng-model="data.followUpDate" name="followUpDate" type="date" min="{{currentDate}}" class="validate" required>
                                <label class="active" for="last_name">Next Follow up Date <sup>*</sup></label>
                            </div>
                            
                            <div ng-class="{'has-error': AddForm.followUpDescription.$invalid && AddForm.$submitted}" class="input-field field-input">
                                <textarea ng-model="data.followUpDescription" name="followUpDescription" class="validate" style="height: 100px !important;" required></textarea>
                                <label for="last_name">FollowUp Description <sup>*</sup></label>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="input-submit padding16">
                        <button type="submit">{{data.activityType == 'Meeting' ? 'Start Meeting' : 'Save'}}</button>
                    </div>
                </form>
            </ion-content>
            
        </ion-view>
        