<ion-view view-title="ADD REQUIRMENT">
    <ion-nav-buttons side="left">
        <a ng-click="goToBackPageHandler()"
            class="cs-backbtn button button-icon icon ion-android-arrow-back font18 fff"></a>
    </ion-nav-buttons>

    <!-- commented -->
    <!-- <ion-nav-buttons side="right" class="custom-right-btn">
        <div ng-click="popover.show($event)" class="right-nav-btn nav-search">
            <a ><i class="material-icons">more_vert</i></a>
        </div>
    </ion-nav-buttons> -->
    <ion-content>
        <div class="sticky-column bdr-botm" ng-if="drDetail.dr_id">
            <div class="coman-list margin0 radius0 no-shadow">
                <div class="center-item padding10">
                    <div class="cs-icon">{{drDetail.dr_name[0]}}</div>
                    <div class="cs-content">
                        <p>{{drDetail.dr_name}}</p>
                        <span>{{drDetail.contact_mobile_no}}</span>
                    </div>

                    <a href="tel: {{drDetail.contact_mobile_no}}" class="dialer"><i class="material-icons">call</i></a>
                </div>
            </div>
        </div>
        <div class="padding16">
            <form name="Addform" novalidate ng-submit="!Addform.$invalid && submitRequirment()">
                <div class="cs-bg-heading padding0">
                    <h2>Requirment Information</h2>
                </div>

                <div class="cs-add-form">

                    <div class="field-input mt20"
                        ng-class="{'has-error': Addform.category.$invalid && Addform.$submitted}">
                        <labelclass="fix-label">Select Category</label>
                            <select class="browser-default" ng-model="data.category" name="category"
                                ng-change="getProductSubCategoryList(data.category)"
                                ng-options="itemRow.category as itemRow.category for itemRow in ProductCategoryList"
                                required>
                                <option value="" disabled selected>Select Category<span>*</span></option>
                            </select>
                    </div>

                    <div class="field-input mt20" ng-if="data.category"
                        ng-class="{'has-error': Addform.sub_category.$invalid && Addform.$submitted}">
                        <label class="fix-label">Select Sub Category</label>
                        <select class="browser-default" ng-model="data.sub_category" name="sub_category"
                            ng-change="getProductList(data.category,data.sub_category,data.product_name)"
                            ng-options="itemRow.sub_category as itemRow.sub_category for itemRow in ProductSubCategoryList"
                            required>
                            <option value="" disabled selected>Select Sub Category<span>*</span></option>
                        </select>
                    </div>

                    <div ng-if="data.sub_category" class="cs-add-form mt20">
                        <div class="field-input">
                            <label for="last_name" class="fix-label">Select Product<span>*</span></label>
                            <div class="add-css-select pt0 selectopt no-padding  add2">
                                <searchable-multiselect display-attr="Key" selected-items="data.product"
                                    all-items="ProductList" add-item="single_item_select(item)">
                                </searchable-multiselect>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="field-input mt20" ng-if="data.sub_category"
    ng-class="{'has-error': Addform.product_name.$invalid && Addform.$submitted}">
    <label class="fix-label">Select Product</label>
    <select class="browser-default" ng-model="data.id" name="product_name"
    ng-change="productDetails(data.id)"
    ng-options="itemRow.id as itemRow.product_name for itemRow in ProductList">
    <option value="" disabled selected>Select Product<span>*</span></option>
</select>
</div> -->

                    <div class="flex-input" style="margin-top: -10px;">
                        <div class="input-field field-input wp100">
                            <input ng-model="data.qty" name="qty" id="qty" type="number" class="validate">
                            <label for="last_name">QTY</label>
                        </div>

                        <button class="cs-btn" ng-disabled="!data.qty || !data.id" ng-click="onRequirementAddToList()">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>


                <div class="cart-card">
                    <div class="cs-count-list cart-list" ng-repeat="row in requiredata">
                        <div class="cs-content">
                            <p class="mb0">{{row.categoryName}} / {{row.subcategoryName}} / {{row.productName}}</p>
                            <!-- <span>{{requiredata.product_code}}</span> -->
                        </div>

                        <div class="action-item">
                            <span class="qty">{{row.qty}}</span>
                            <a class="action-btn" ng-click="listdelete($index)"><i
                                    class="material-icons">delete_sweep</i></a>
                        </div>
                    </div>
                </div>

                <div class="input-field field-input mt30"
                    ng-class="{'has-error': addressForm.description.$invalid && addressForm.$submitted}">
                    <textarea ng-model="data.description" name="description"
                        style="height: 80px !important;"></textarea>
                    <label class="fix-label">Description</label>
                </div>

                <div class="cs-save-btn space-btn mt20">
                    <button class="outline">Save</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>