<ion-view view-title="Requirements">
    
    <ion-nav-buttons side="left">
        <a href="#/tab/lead-detail" class="cs-backbtn button button-icon icon ion-android-arrow-back font18 fff"></a>
    </ion-nav-buttons>
    
    <!-- <ion-nav-buttons side="right" class="custom-right-btn">
        <div ng-click="onShowPopUpHandler($event, drDetail.drData.id, 'leadDetail')" class="right-nav-btn nav-search">
            <a ><i class="material-icons">more_vert</i></a>
        </div>
    </ion-nav-buttons> -->
    
    <ion-content>
        
        <div class="sticky-column bdr-botm" ng-if="dr_data.dr_id !=0">
            <div  class="coman-list margin0 radius0 no-shadow">
                <div class="center-item padding10">
                    <div class="cs-icon">{{dr_data.dr_name[0]}}</div>
                    <div class="cs-content">
                        <p>{{dr_data.dr_name}}</p>
                        <span>{{dr_data.contact_mobile_no}}</span>
                    </div>
                    
                    <a href="tel: {{dr_data.contact_mobile_no}}" class="dialer"><i class="material-icons">call</i></a>
                </div>
            </div>
        </div>
        
        <div  class="coman-list" ng-repeat="row in leadRequirementData">
            <div class="top-head">
                <ul>
                    <li>
                        <p>{{dateFormat(row.date_created)}}</p>
                        <span>Date Created</span>
                    </li>
                    <li>
                        <p>{{row.created_by_name}}</p>
                        <span>Created By</span>
                    </li>
                </ul>
            </div>
            <div class="top-head">
                <ul>
                    <li>
                        <p>{{row.product_code}}</p>
                        <span>Product Code</span>
                    </li>
                    <li>
                        <p>{{row.product_name}}</p>
                        <span>Product Name</span>
                    </li>
                    <li>
                        <p>{{row.qty}}</p>
                        <span>Qty</span>
                    </li>
                </ul>
            </div>
          
            <div class="cs-secation padding10">
                <p><span>Category :</span> {{row.category}}</p>
                <p><span>Sub Category :</span> {{row.sub_category}}</p>
            </div>
        </div>
        
        
        <div class="data-not-found center" ng-if="leadRequirementData.length == 0" >
            <div class="outer">
                <div class="innear">
                    <img src="img/data-not-found.svg" alt="">
                    <h2>No Data Available!</h2>
                </div>
            </div>
        </div>
        <div class="h50"></div>
    </ion-content>
    <div class="fix-add">
        <a ng-click="gotoPage(dr_data.dr_id,dr_data.dr_name,dr_data.contact_mobile_no,'requirement-add')">
            <i class="material-icons">add</i>
        </a>
    </div>
</ion-view>

<!-- <div class="padding16">
    <div class="cs-count-list">
        <div class="cs-count">{{row.qty ? row.qty : '0'}}</div>
        <div class="cs-content">
            <p>{{row.category}} {{row.subcategory ? ', '+row.subcategory : ''}} {{row.product_name ? ', '+row.product_name : ''}}</p>
            <span>#{{row.product_code ? row.product_code : '--'}}</span>
        </div>
    </div>
</div> -->