@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');







.tab-nav .tab-item .icon.scheme-icon{background: url(../img/tabs-icons/scheme-icon.svg) no-repeat top center; background-size: 18px;}
.tab-nav .tab-item .icon.history-icon{background: url(../img/tabs-icons/history-icon.svg) no-repeat top center; background-size: 18px;}
.tab-nav .tab-item .icon.gallery-icon{background: url(../img/tabs-icons/gallery-icon.svg) no-repeat top center; background-size: 18px;}



.opr_ion_header
{
    background: #4875b5 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opr_ion_header.no_boxshadow{box-shadow: none;}


.opr_ion_header .cs-left
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.opr_ion_header .cs-left button{}
.opr_ion_header .cs-left button.back-button{}
.opr_ion_header .cs-left .orp_title
{
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    padding-left: 15px;
}


.opr_ion_header .cs-right{}

.opr_ion_header .cs-right button,
.opr_ion_header .cs-left button
{
    width: 35px;
    height: 35px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: transparent;
}


.opr_ion_header .cs-right button i,
.opr_ion_header .cs-left button i{color: #fff; font-size: 18px;}




.offbg{position: relative; z-index: 1;}
.offbg:after
{
    background: #4875B5;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50%;
    width: 100%;
    z-index: -1;
}







.fgp
{
    font-size: 10px;
    text-align: right;
    display: block;
    margin-top: 5px;
    color: #04f;
}

.fgp span{text-decoration: underline;}


.or-seprate
{
    padding: 32px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.or-seprate span
{
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    background: #fff;
    border: 1px solid #a6a6a6;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.or-seprate span:before,
.or-seprate span:after
{
    content: "";
    position: absolute;
    height: 1px;
    background: #a6a6a6;
    width: 45px;
    
}

.or-seprate span:after{margin: 0px 0px 0px 35px;}
.or-seprate span:before{margin: 0px 0px 0px -35px;}

.gr_bg:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 170px);
    z-index: -1;
    border-radius: 15px 15px 0px 0px;
    
    background: linear-gradient(#57b5e5 0%, #3a3b8a 100%);
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
}



.orp_login{height: auto;}
.orp_login:after{display: none;}
.orp_login .logo img{height: 100px;}
.orp_login .logo{padding: 15px 0px;}
.orp_login .login-form .list{min-height: calc(100vh - 166px); height: auto; box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);}
.orp_login .login-form .list p{margin-top: 5px;}
.orp_login .login-form{padding:32px; padding-top: 0;}

.cs_orp-bttn button,
.cs_orp-bttn a,
.orp_login .list .btnn button,
.orp_login .list .btnn a,
.orp_login .list .btnn input[type="submit"]
{
    display: flex; 
    align-items: center;
    justify-content: center;
    border-color: #00A60C;
    color: #00A60C;
    height: 40px; 
    font-size: 12px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
}

.cs_orp-bttn button,
.cs_orp-bttn a,
.orp_login .list .btnn button.active,
.orp_login .list .btnn a.active,
.orp_login .list .btnn input.active[type="submit"]{background: #00A60C; color: #fff;}




.b_head{display: flex; align-items: center; justify-content: space-between; font-size: 16px; font-weight: 600;}
.b_head a{font-size: 12px; color: #0203fe; display: flex; align-items: center;}
.b_head a i{transform: rotate(180deg); margin-right: 5px;}

.otp_input{display: flex; align-items: center; justify-content: space-between; margin: 42px -5px 20px -5px;}
.otp_input input
{
    height: 45px !important;
    text-align: center;
    margin: 5px !important;
    border-radius: 2px !important;
    border: 1px solid #d8d8d8 !important;
}










.rg_form
{
    min-height: calc(100vh - 166px);
    height: auto;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);
    background: #fff;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 0px;
    position: relative;
}


.rg_form .rg_heading h1{font-weight: 500; font-size: 12px; color: #ef9b11; margin-top: 20px;}

.who{background: #fff; border: 2px solid #daf5f2; padding: 10px; padding-bottom: 0; margin-top: 10px;}
.who h1{font-weight: 500; font-size: 12px; color: #000d36; margin-bottom: 10px; }


.rg_form .btnn button,
.rg_form .btnn a,
.rg_form .btnn input[type="submit"] {
    letter-spacing: 2px;
    border-radius: 8px;
    background: #fff;
    border: 2px solid #00A60C;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #00A60C;
    height: 40px; 
    font-size: 12px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
}







.orp-dashboard
{
    background: url(../img/orp-ds_bg.svg) top center no-repeat;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.orp-dashboard .logo
{
    width: fit-content;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 5px;
}

.orp-dashboard .logo img{height: 72px;}

.orp-dashboard .cs-buttons
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 4px;
}

.orp-dashboard .cs-buttons a,
.orp-dashboard .cs-buttons button
{
    width: 35px;
    min-height: 35px;
    max-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0px;
    margin-left: 10px;
    position: relative;
}
.orp-dashboard .cs-buttons a.orp-menu svg,
.orp-dashboard .cs-buttons button.orp-menu svg{fill: #fff; transform: rotate(180deg);}

.orp-dashboard .cs-buttons a.notification i,
.orp-dashboard .cs-buttons button.notification i{color: #fff;}

.orp-dashboard .cs-buttons button.notification .counter
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background: #e60003;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}









.orp-info{padding:30px 16px  16px;}
.orp-info .ds-container{border-radius: 10px; position: relative; background: linear-gradient(#57b5e5 0%, #3a3b8a 100%); box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.16);}
.orp-info .ds-container .ds-profile
{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background: #57b6e6;
    border: 2px solid #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -28px;
    margin: auto;
    left: 0px;
    right: 0px;
}
.orp-info .ds-container .ds-profile img{}

.orp-info .ds-container .profile-info{padding: 36px 16px 0px; text-align: center;}
.orp-info .ds-container .profile-info p{font-size: 12px; color: #fff; margin: 5px 0px;}
.orp-info .ds-container .profile-info p span{color: #000; font-size: 14px; font-weight: 600;}
.orp-info .ds-container .profile-info h1{font-weight: 500; font-size: 14px; color: #fff;}

.orp-info .ds-container .profile-info .cmt-in{height: 15px; border-radius: 7.5px; background: #fff; margin: 10px 0px;}
.orp-info .ds-container .profile-info .cmt-in div{height: 15px; border-radius: 7.5px; background: #7dbb62;}

.orp-info .ds-container .sale-count
{
    padding: 10px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orp-info .ds-container .sale-count .figure
{
    border: solid 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 5px;
    border-radius: 4px;
    overflow: hidden;
}
.orp-info .ds-container .sale-count .figure p{color: #fff; text-align: center;}
.orp-info .ds-container .sale-count .figure p:nth-child(1){font-weight: 600; font-size: 14px; padding: 10px 5px;}
.orp-info .ds-container .sale-count .figure p:nth-child(2)
{
    background: rgba(0, 0, 0, 0.3);
    font-size: 10px;
    letter-spacing: 0.04em;
    padding: 5px;
}

.orp-info .ds-container .scn-btns{display: flex; align-items: center; justify-content: space-between; padding: 0px 5px 10px;}
.orp-info .ds-container .scn-btns button,
.orp-info .ds-container .scn-btns a
{
    height: 45px;
    border-radius: 6px;
    background: #57b6e6;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    margin: 5px;
}

.orp-info .ds-container .scn-btns button.fl-btn,
.orp-info .ds-container .scn-btns a.fl-btn{justify-content: flex-start;}



/* Common Arrow */
.gt_report a:after,
.scn_more a:after,
.orp-select label:after,
.menu_container a:after,
.menu_container button:after,
.offerlist.giftdetail .figure .desc .off:after,
.offerlist .figure .desc .gifts:after,
.wallet_points .figure .pt-infos .name:after,
.ods-btns.flt a:after,
.ods-btns.flt button:after,
.orp-info .ds-container .scn-btns button.fl-btn:after,
.orp-info .ds-container .scn-btns a.fl-btn:after
{
    content: 'keyboard_arrow_right';
    position: absolute;
    top: 50%;
    right: 10px;
    font-family: 'Material Icons';
    font-size: 20px;
    word-wrap: normal;
    transform: translateY(-50%);
    color: #fff;
}

.orp-info .ds-container .scn-btns button img,
.orp-info .ds-container .scn-btns a img{margin-left: 10px;}

.orp-info .ds-container .scn-btns button.fl-btn img,
.orp-info .ds-container .scn-btns a.fl-btn img{margin-right: 10px; margin-left: 0;}

.orp-info .ds-container .scn-btns button p,
.orp-info .ds-container .scn-btns a p{color: #fff;}

.orp-info .ds-container .scn-btns button p:nth-child(1),
.orp-info .ds-container .scn-btns a p:nth-child(1)
{
    font-weight: 500;
    font-size: 14px;
}
.orp-info .ds-container .scn-btns button p:nth-child(2),
.orp-info .ds-container .scn-btns a p:nth-child(2){font-size: 12px;}

.orp-info .ds-container .scn-btns button .des,
.orp-info .ds-container .scn-btns a .des{text-align: left;}








.scheme_en-ds{padding: 5px 16px 16px;}
.scheme_en-ds .sc_container{border-radius: 10px; background: #fafafa;}
.scheme_en-ds .sc_container .sc_head_info{padding: 10px;}
.scheme_en-ds .sc_container .sc_head_info .scheading{border-radius: 6px; background: rgba(0, 0, 0, 0.1);}
.scheme_en-ds .sc_container .sc_head_info .scheading h1
{
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
    color: #000;
}

.scheme_en-ds .sc_container .sc_head_info .sc_info
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.scheme_en-ds .sc_container .sc_head_info .sc_info .desc{}

.scheme_en-ds .sc_container .sc_head_info .sc_info .desc h1,
.scheme_en-ds .sc_container .sc_head_info .sc_info .desc p{color: #000;}

.scheme_en-ds .sc_container .sc_head_info .sc_info .desc h1{font-weight: 500; font-size: 12px;}
.scheme_en-ds .sc_container .sc_head_info .sc_info .desc p{font-size: 10px;}

.scheme_en-ds .sc_container .sc_head_info .sc_info .thumb
{
    width: 50px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scheme_en-ds .sc_container .sc_head_info .sc_info .thumb img{height: 100%;}

.scheme_en-ds .sc_container .sc_gift-info{border-top: solid 1px #27AB00; padding-bottom: 5px;}
.scheme_en-ds .sc_container .sc_gift-info p
{
    font-size: 12px;
    position: relative;
    color: #000;
    margin: 20px 20px;
    padding-left: 35px;
}

.scheme_en-ds .sc_container .sc_gift-info p:after
{
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #27ab00;
    position: absolute;
    left: 0px;
    top: -2px;
}

.scheme_en-ds .sc_container .sc_gift-info p:before
{
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #27ab00;
    top: -21px;
    left: 10px;
}

.scheme_en-ds .sc_container .sc_gift-info p:last-child:before{height: 65px;}

.scheme_en-ds .sc_container .sc_gift-info p.active:after
{
    content: 'done';
    background: #27ab00;
    font-family: 'Material Icons';
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ods-btns
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 6px;
}

.ods-btns a,
.ods-btns button
{
    border-radius: 10px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    padding: 7px 10px;
    margin: 6px 10px 0px;
    width: 100%;
    position: relative;
    text-align: center;
}
.ods-btns a img,
.ods-btns button img{height: 18px;}

.ods-btns a p,
.ods-btns button p
{
    font-size: 12px;
    color: #002341;
    margin-top: 5px;
}


.ods-btns.flt{}
.ods-btns.flt a,
.ods-btns.flt button
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wallet_points .figure .pt-infos .name:after,
.ods-btns.flt a:after,
.ods-btns.flt button:after{color: #B2B5C2;}

.ods-btns.flt a img,
.ods-btns.flt button img{margin-right: 10px;}





.my-sale{padding:20px 16px 16px;}
.my-sale .s_head{}
.my-sale .s_head h1
{
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.my-sale .sl_counts
{
    border-radius: 6px;
    background: #ffa200;
    border: 1px solid #c77f00;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-sale .sl_counts .figure:first-child{background: rgba(0, 0, 0, 0.1);}


.my-sale .sl_counts .figure{padding:5px 10px; width: 100%;}
.my-sale .sl_counts .figure p,
.my-sale .sl_counts .figure h1{color: #fff;}
.my-sale .sl_counts .figure p{font-size: 12px;}

.my-sale .sl_counts .figure h1{font-weight: 500; font-size: 20px;}










.qr_code-st{display: flex; align-items: center; justify-content: center; height: 50vh;}   
.qr_code-st img{}

.mn_code{padding: 32px;}
.mn_code a
{
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mn_code a p{font-size: 11px; line-height: 18px; color: #000d36;}
.mn_code a i{color: #27AB00; font-size: 20px;}





.orp_seacrh{padding: 16px; background: #fff;}
.orp_seacrh .figure{position: relative;}
.orp_seacrh .figure input
{
    height: 40px;
    border-radius: 20px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16) !important;
    font-size: 14px;
    color: #000;
    font-weight: 300;
    padding-left: 40px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.orp_seacrh .figure:after
{
    content: 'search';
    position: absolute;
    top: 50%;
    left: 13px;
    font-family: 'Material Icons';
    font-size: 20px;
    word-wrap: normal;
    transform: translateY(-50%);
    color: #000;
    opacity: 0.6;
}


.orp_seacrh .figure button
{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent;
    border: 0px;
    outline: none;
    display: none;
}

.orp_seacrh .figure button i{color: #ff0000; font-size: 20px;}

.orp_seacrh .figure input:focus ~ button{display: initial;}





.bx-listing{padding: 16px; padding-top: 0;}
.bx-listing a
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;
}
.bx-listing a .description
{
    height: 50px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #daf5f2;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bx-listing a .qty
{
    min-width: 45px;
    height: 50px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #daf5f2;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bx-listing a .qty p{color: #002341; line-height: 14px;} 
.bx-listing a .qty p:nth-child(1){font-weight: 500; font-size: 14px; margin-top: 11px;} 
.bx-listing a .qty p:nth-child(2){font-size: 8px; opacity: 0.6;}


.bx-listing a .description .cs-left{width: 100%;}
.bx-listing a .description .cs-left h1
{
    font-weight: 500;
    font-size: 12px;
    color: #002341;
    display: flex;
    align-items: center;
}

.bx-listing a .description .cs-left h1 span
{
    border-radius: 6px;
    background: #f3f3f3;
    margin-left: 5px;
    padding: 2px 5px;
}
.bx-listing a .description .cs-left p
{
    font-size: 12px;
    color: #002341;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bx-listing a .description .cs-left p span:nth-child(2){font-size: 8px; opacity: 0.6;}


.bx-listing a .description .cs-right{}
.bx-listing a .description .cs-right i
{
    color: #666d86;
    font-size: 18px;
}
.bx-listing a .description .cs-right .price
{
    font-weight: 500;
    font-size: 14px;
    color: #ffa200;
    white-space: nowrap;
}


.stc-section
{
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 2;
}


.wallet_info
{
    background: #f5f7ff  url('../img/surprise.svg') right 16px center no-repeat;
    padding: 16px;
}

.wallet_info h2,
.wallet_info h1,
.wallet_info p{color: #11122a;}

.wallet_info h2{font-size: 14px;}
.wallet_info h1{font-weight: bold; font-size: 24px; font-family: 'Roboto Condensed', sans-serif !important;}
.wallet_info p{font-size: 14px; opacity: 0.4;}
.wallet_info p.ttp{font-size: 14px; opacity: 1; margin-top: 10px;}
.wallet_info p.ttp span{font-weight: 600; font-family: 'Roboto Condensed', sans-serif !important;}




.cs-tabs{padding: 16px; padding-bottom: 0; background: #fff; margin-bottom: 16px;}


.cs-tabs .tab_container
{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #005197;
    border-radius: 25px;
    background: #fff;
    padding: 1.5px;
    width: 100%;
}


.cs-tabs .tab_container button
{
    width: 100%;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #005197;
    margin: 1.5px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
}


.cs-tabs .tab_container button p
{
    font-weight: 500;
    font-size: 11px;
    color: #11122A;
    width: 100%;
    letter-spacing: 0;
}
.cs-tabs .tab_container button span
{
    font-size: 11px;
    font-weight: 500;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 0;
}
.cs-tabs .tab_container button.active{background: #005197;}
.cs-tabs .tab_container button.active p{color: #fff;}



.cs-tabs.gltabs .tab_container
{
    border-radius: 6px;
    background: #fff;
    border: 1px solid #5dcaf4;
}

.cs-tabs.gltabs .tab_container button
{
    border-radius: 4px;
    background: #f3f3f3;
    height: auto;
    flex-direction: column;
    border: 0px;
    padding: 5px 0px;
}

.cs-tabs.gltabs .tab_container button img{margin-bottom: 5px;}

.cs-tabs.gltabs .tab_container button p{text-transform: capitalize;}
.cs-tabs.gltabs .tab_container button.active{background: #5DCAF4;}
.cs-tabs.gltabs .tab_container button.active p{color: #11122A;}








.wl_update{padding: 16px;}
.wl_update .figure
{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wl_update .figure .thumb{min-width: 32px; max-width: 32px;}
.wl_update .figure .thumb img{width: 100%;}
.wl_update .figure .description{padding-left: 10px; width: 100%;}
.wl_update .figure .description p{display: flex; align-items: center; justify-content: space-between;}
.wl_update .figure .description p span{ color: #000d36;}
.wl_update .figure .description p span:nth-child(1){font-size: 12px;}
.wl_update .figure .description p span:nth-child(2){font-size: 10px;opacity: 0.6;}
.wl_update .figure .description h1
{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: bold;
    font-size: 18px;
    color: #000d36;
}









.wallet_points
{
    padding:0px 8px 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.wallet_points .figure
{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    width: calc(50% - 16px);
    margin: 8px;
}

.wallet_points .figure .pt-top{padding: 10px; display: flex; justify-content: flex-start; align-items: center;}
.wallet_points .figure .pt-top .thumb
{
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #daf5f2;
    border: 1px solid #daf5f2;
    margin-right: 10px;
}

.wallet_points .figure .pt-top .points
{
    width: 100%;
    padding:5px;
    height: 50px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #daf5f2;
}

.wallet_points .figure .pt-top .points p,
.wallet_points .figure .pt-top .points h1{color: #000;}

.wallet_points .figure .pt-top .points p{font-size: 10px; color: #000;}
.wallet_points .figure .pt-top .points h1
{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400;
}

.wallet_points .figure .cat-name{border-top: solid 1px rgba(0, 0, 0, 0.3); padding: 10px;}
.wallet_points .figure .cat-name h1{font-weight: 500; font-size: 12px; text-align: center; color: #000d36;}

.wallet_points .figure .pt-infos{padding:0px 10px 10px;}
.wallet_points .figure .pt-infos .name{position: relative;}
.wallet_points .figure .pt-infos .name:after{right: 0px;}
.wallet_points .figure .pt-infos .name p
{
    font-weight: 500;
    font-size: 12px;
    color: #000d36;
}

.wallet_points .figure .pt-infos .name p span
{
    border-radius: 8px;
    background: #e9e9e9;
    display: inline-block;
    padding: 2px 5px;
    
    font-size: 10px;
    color: #002341;
}
.wallet_points .figure .pt-infos .date{margin-top: 10px;}
.wallet_points .figure .pt-infos .date p
{
    font-size: 10px;
    color: rgba(0, 35, 65, 0.4);
}
.wallet_points .figure .pt-infos .date p span{font-weight: 500; opacity: 0.4;}


.wallet_points .figure .dlname
{
    border-radius: 0px 0px 10px 10px;
    background: rgba(235, 235, 235, 0.5);
    border: 1px solid #fff;
    padding: 10px;
}
.wallet_points .figure .dlname p
{
    font-weight: 500;
    font-size: 10px;
    color: #000;
}








.wallet_points .figure .pt-top .thumb.dflt{background: url('../img/wallet-icons/default_wallet_icon.svg') no-repeat center;}
.wallet_points .figure .pt-top .thumb.inverter_battery{background: url('../img/wallet-icons/Inverter-Battery_icon.svg') no-repeat center;}
.wallet_points .figure .pt-top .thumb.microtek_inverter{background: url('../img/wallet-icons/Microtek-Inverter_icon.svg') no-repeat center;}
.wallet_points .figure .pt-top .thumb.e_rickshaw{background: url('../img/wallet-icons/E-Rickshaw_icon.svg') no-repeat center;}
.wallet_points .figure .pt-top .thumb.automotive{background: url('../img/wallet-icons/Automotive_icon.svg') no-repeat center;}
.wallet_points .figure .pt-top .thumb.ev_charger{background: url('../img/wallet-icons/EV-Charger_icon.svg') no-repeat center;}
.wallet_points .figure .pt-top .thumb.okaya_solar{background: url('../img/wallet-icons/Okaya-Solar_icon.svg') no-repeat center;}


.wallet_points.multicolor .figure{border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: none;}
.wallet_points.multicolor .figure:nth-child(1){background: #E3F2FD;}
.wallet_points.multicolor .figure:nth-child(2){background: #F3E5F5;}
.wallet_points.multicolor .figure:nth-child(3){background: #FFE0B2;}
.wallet_points.multicolor .figure:nth-child(4){background: #FFCCBC;}
.wallet_points.multicolor .figure:nth-child(5){background: #E6EE9C;}
.wallet_points.multicolor .figure:nth-child(6){background: #FFFF8D;}


.wallet_points.multicolor .figure .pt-top .thumb{border-color: #fff;}
.wallet_points.multicolor .figure .pt-top .points{border: 0px;}









.cat-route{padding: 16px; padding-bottom: 0px; margin-bottom: 16px; background: #fff;}
.cat-route .figure
{
    border-radius: 10px;
    background: #f3f3f3;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cat-route .figure ul{display: flex; align-items: center;}
.cat-route .figure ul li:first-child{font-size: 12px;}
.cat-route .figure ul li{color: #002341;font-weight: 500; font-size: 10px;}

.cat-route .figure ul li.ar{padding: 0px 5px;}
.cat-route .figure ul li.ar i{color: #C3C5CD; font-size: 14px; margin-top: 6px;}

.cat-route .figure .point{}

.cat-route .figure .point{font-weight: 500; display: flex; align-items: flex-end; flex-direction: column; line-height: 13px;}
.cat-route .figure .point span:nth-child(1){color: #002341; font-size: 10px; opacity: 0.6;}
.cat-route .figure .point span:nth-child(2){color: #FFA200; font-size: 13px;}








.offerlist{padding: 16px; padding-top: 0;}
.offerlist .figure
{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 16px;
}
.offerlist .figure .desc{padding: 10px; width: 100%;}

.offerlist .figure .desc .off{}
.offerlist .figure .desc .off h1
{
    font-weight: 500;
    font-size: 12px;
    color: #000d36;
}
.offerlist .figure .desc .off p
{
    font-size: 10px;
    color: #002341;
}


.offerlist .figure .desc .gifts
{
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    margin-top: 10px;  
    position: relative;
}

.offerlist .figure .desc .gifts:after{color: #B2B5C2; right: 0px;}

.offerlist .figure .desc .gifts .t-count
{
    min-width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #daf5f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: #000d36;
    margin-right: 10px;
}

.offerlist .figure .desc .gifts .gin{}
.offerlist .figure .desc .gifts .gin p
{
    font-size: 11px;
    color: #002341;
    line-height: 13px;
}

.offerlist .figure .thumb
{
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offerlist .figure .thumb img{ height: 100%;}



.offerlist.ofdetail .figure{flex-direction: column-reverse;}
.offerlist.ofdetail .figure .thumb{width: 100%; min-width: inherit; max-width: inherit;}
.offerlist.ofdetail .figure .thumb img{width: 100%; height: auto;}

.offerlist.ofdetail .figure .desc .off p{display: flex; align-items: center; justify-content: space-between;}
.offerlist.ofdetail .figure .desc .off p a{text-decoration: underline;}



.offerlist.giftlist .figure .thumb{width: 60px; min-width: 60px; max-width: 60px; height: 60px;}

.offerlist.giftlist .figure .desc{display: flex; align-items: center; }
.offerlist.giftlist .figure .desc .point-in
{
    min-width: 50px;
    border-right: solid 2px #DAF5F2;
    line-height: 13px;
    margin-right: 10px;
    position: relative;
    text-align: center;
}

.offerlist.giftlist .figure .desc .point-in h1,
.offerlist.giftlist .figure .desc .point-in p{color: #000d36;}

.offerlist.giftlist .figure .desc .point-in h1
{
    font-weight: 500;
    font-size: 18px;
}

.offerlist.giftlist .figure .desc .point-in p
{
    font-size: 10px;
    opacity: 0.6;
}


.offerlist.giftlist .figure .desc .point-in.tic:after
{
    content: 'verified_user';
    position: absolute;
    top: -2px;
    left: -8px;
    font-family: 'Material Icons';
    font-size: 14px;
    word-wrap: normal;
    transform: translateY(-50%);
    color: #00910E;
}



.offerlist.giftlist .figure .desc .off button
{
    font-weight: 500;
    font-size: 8px;
    letter-spacing: 0.06em;
    color: #fff;
    height: 20px;
    border-radius: 10px;
    background: #27ab00;
    padding: 0px 10px;
    text-transform: uppercase;
    border: 0px;
    outline: none;
    margin-top: 5px;
}









.gift_slide{}
.gift_slide .nm_point{display: flex; align-items: center; justify-content: space-between; padding: 16px; padding-top: 0;}

.gift_slide .nm_point h1,
.gift_slide .nm_point h2{font-weight: 500; font-size: 14px;}

.gift_slide .nm_point h1{color: #000d36;}
.gift_slide .nm_point h2{color: #ef9b11;}

.gift_slide .orp-slider{}
.gift_slide .orp-slider img{width: 100%;}


.offerlist.giftdetail .figure{flex-direction: row-reverse; box-shadow: none; border-radius: 0px;}
.offerlist.giftdetail .figure .desc{padding: 0px 10px;}
.offerlist.giftdetail .figure .desc .off{width: 100%; position: relative;}
.offerlist.giftdetail .figure .desc .off:after{color: #999EAE; right: 0px;}
.offerlist.giftdetail .figure .thumb{width: 40px; min-width: 40px; max-width: 40px; height: 40px;}

.gf_description{padding: 0px 16px 16px;}
.gf_description h1,
.gf_description p{color: #000d36; font-size: 12px;}
.gf_description h1{font-weight: 500;}
.gf_description p{margin-top: 10px;}











.menu_container
{
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 0px 16px rgba(16, 66, 108, 0.47);
    overflow: hidden;
}

.menu_container a,
.menu_container button
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border: 0px;
    border-bottom: solid 1px #B9B9B9;
    position: relative;
    padding: 15px 20px;
    background: transparent;
    outline: none;
}

.menu_container a:last-child,
.menu_container button:last-child{border-bottom: 0px;}

.menu_container a:after,
.menu_container button:after{color: #B2B2FF;}

.menu_container a img,
.menu_container button img{margin-right: 20px;}

.menu_container a p,
.menu_container button p
{
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #000;
}


.menu_container a:last-child p,
.menu_container button:last-child p{color: #ff0000; text-transform: uppercase;}





.dealer-list{}
.dealer-list .figure{padding: 10px; border-bottom: solid 5px #B7B7B7;}
.dealer-list .figure .dl_info{display: flex; align-items: center; justify-content: space-between;}
.dealer-list .figure .dl_info .cs-left{display: flex; align-items: center; justify-content: flex-start;}
.dealer-list .figure .dl_info .cs-left .fl
{
    width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.dealer-list .figure:nth-child(5n + 1) .dl_info .cs-left .fl{background: #2196f3;}
.dealer-list .figure:nth-child(5n + 2) .dl_info .cs-left .fl{background: #ffc107;}
.dealer-list .figure:nth-child(5n + 3) .dl_info .cs-left .fl{background: #607d8b;}
.dealer-list .figure:nth-child(5n + 4) .dl_info .cs-left .fl{background: #e65100;}
.dealer-list .figure:nth-child(5n + 5) .dl_info .cs-left .fl{background: #64dd17;}





.dealer-list .figure .dl_info .cs-left .naming{}
.dealer-list .figure .dl_info .cs-left .naming p{}
.dealer-list .figure .dl_info .cs-left .naming p span{}

.dealer-list .figure .dl_info .cs-right{min-width: 40px;}
.dealer-list .figure .dl_info .cs-right a{}
.dealer-list .figure .dl_info .cs-right a i{color: #00B900;}

.dealer-list .figure .dl-add{border: dashed 1px rgba(0, 0, 0, 0.3); padding: 5px 10px; margin-top: 10px; display: block; background: #fff;}

.dealer-list .figure .dl_info .cs-left .naming p,
.dealer-list .figure .dl-add p
{
    font-weight: 500;
    font-size: 11px;
    color: #11122a;
}

.dealer-list .figure .dl_info .cs-left .naming p span,
.dealer-list .figure .dl-add p span
{
    font-weight: normal;
    opacity: 0.5;
}

.dealer-list.dealer-detail .figure{background: #F1FAFF; border-color: #CCEDFF;}









.orp_alerts{padding: 32px;}
.orp_alerts .al_container
{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2), 0px 0px 16px rgba(0, 0, 0, 0.2);
    position: relative;
}

.orp_alerts .al_container .icon
{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #ff0003;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: -30px;
}

.orp_alerts.success .al_container .icon{background: #27AB00;}


.orp_alerts .al_container .icon i{color: #fff; font-size: 30px;}

.orp_alerts .al_container .al_body{padding: 50px 0px 30px; text-align: center;}

.orp_alerts .al_container .al_body h1,
.orp_alerts .al_container .al_body h2{font-weight: 500; color: #000d36;}

.orp_alerts .al_container .al_body h1{font-size: 14px;}
.orp_alerts .al_container .al_body h2{font-size: 18px; margin-top: 20px;}

.orp_alerts .al_container .al_body h2 span{font-size: 13px; font-weight: normal;}

.orp_alerts .al_container .al_footer
{
    background: #F1FFEC;
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 12px 12px;
}

.orp_alerts .al_container .al_footer a,
.orp_alerts .al_container .al_footer button
{
    width: 100%;
    border-radius: 6px;
    
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.06em;
    color: #fff;
    
    border: 0px;
    display: block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
}



.orp_alerts .al_container .al_footer a.red_btn,
.orp_alerts .al_container .al_footer button.red_btn{background: #ff0003;}


.orp_alerts .al_container .al_footer a.blue_btn,
.orp_alerts .al_container .al_footer button.blue_btn{background: #34A5EB;}


.orp_alerts .al_container .al_footer a.green_btn,
.orp_alerts .al_container .al_footer button.green_btn{background: #27AB00;}







.orp-select{}

.orp-date label,
.orp-select label
{
    border: solid 1px #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    position: relative;
    padding: 0px 20px 0px 10px;
    font-size: 12px;
    background: #fff;
    margin-bottom: 10px;
}

.orp-date label:last-child,
.orp-select label:last-child{margin-bottom: 0;}

.orp-select label:after{color: #000; right: 0px;}

.orp-date label p,
.orp-select label p{white-space: nowrap;}

.orp-date label input,
.orp-select label select
{
    display: block;
    border: 0px;
    height: 35px !important;
    -webkit-appearance: none;
    direction: rtl;
    font-size: 12px;
    font-weight: 500;
}

.orp-date label{padding-right: 10px;}

.orp-date label input
{
    margin: 0px !important;
    border: 0px !important;
    text-align: right !important;
    font-size: 12px !important;
    padding: 0px !important;
}

.orp-input{}
.orp-input input,
.orp-textarea textarea
{
    margin: 0px !important;
    border: solid 1px #ccc !important;
    height: 35px !important;
    font-size: 12px !important;
    padding: 0px 10px !important;
    background: #fff !important;
    box-sizing: border-box !important;
    margin-bottom: 10px !important;    
}

.orp-textarea textarea{height: 70px !important;}



.orp-input input:last-child,
.orp-textarea textarea:last-child{margin-bottom: 0px !important;}

.firm_info{background: #fff; border-radius: 10px; border: solid 1px #ccc;}

.firm_info p
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: dashed 1px #DAF5F2;
}

.firm_info p:last-child{border-bottom: 0px;}


.firm_info p span{font-size: 12px;}
.firm_info p span:nth-child(1){color: rgba(0, 13, 54, 0.6);}
.firm_info p span:nth-child(2){font-weight: 500; color: #000d36;}

.firm_info p.nodf{display: block;}


.scn-topbg{padding: 16px; background: #f3fafe; box-shadow: 0px 3px 6px rgba(52, 165, 235, 0.28);}

.scn-topbg .orp-select{}
.scn-topbg .firm_info{}

.wr_frinfo{padding: 16px; padding-top: 0;}
.wr_frinfo .firm_info{box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border: 0px;}



.op_pr_heading{padding:0px 16px; display: flex; align-items: center; justify-content: space-between;}

.op_pr_heading h1,
.op_pr_heading h2
{
    font-weight: 500;
    color: #000d36;
    margin-top: 0;
}

.op_pr_heading h1{font-style: italic; font-size: 14px;}

.op_pr_heading h2{font-size: 12px;}
.op_pr_heading h2 span{font-size: 14px; color: #FF0000;}



.product_info{padding: 16px; padding-top: 0;}
.product_info .figure
{
    background: #fafafa;
    border: 1px solid #e7e7e7;
    padding: 5px;
    padding-top: 0;
    margin-bottom: 10px;
}
.product_info .figure .code_info
{
    background: #ededed;
    display: flex; align-items: center; justify-content: space-between;  
    padding: 5px 10px;
    margin-top: 5px;
}
.product_info .figure .code_info p{color: #000d36;}
.product_info .figure .code_info p:nth-child(1){font-size: 12px;}
.product_info .figure .code_info p:nth-child(2){font-weight: 500; font-size: 14px;}

.product_info .figure .prt
{
    padding:10px 5px;
    display: flex; align-items: center; justify-content: space-between;
}
.product_info .figure .prt .cs-left{line-height: 18px;}

.product_info .figure .prt .cs-left h1{font-weight: 500; font-size: 12px;}
.product_info .figure .prt .cs-left p{font-size: 10px; opacity: 0.4;}

.product_info .figure .prt .cs-right{text-align: right; line-height: 18px;}

.product_info .figure .prt .cs-right h1{font-weight: 500; font-size: 16px;}
.product_info .figure .prt .cs-right p{font-size: 10px; opacity: 0.4;}

.product_info .figure .prt .cs-left h1
.product_info .figure .prt .cs-left p
.product_info .figure .prt .cs-right h1
.product_info .figure .prt .cs-right p{color: #000d36;}



.product_info .figure .ong{display: flex; align-items: center; justify-content: space-between;}
.product_info .figure .ong .cs-fig
{
    width: calc(50% - 10px);
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 5px;
    line-height: 18px;
    margin: 5px;
}
.product_info .figure .ong .cs-fig p{color: #000d36;}
.product_info .figure .ong .cs-fig p:nth-child(1){font-weight: 500; font-size: 12px;}
.product_info .figure .ong .cs-fig p:nth-child(2){font-size: 10px;}





.scn_more{}
.scn_more a
{
    background: #34a5eb;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.scn_more a .thumb
{
    width: 45px;
    min-width: 45px;
    height: 45px;
    margin-right: 10px;
}

.scn_more a .thumb img{}


.scn_more a .desc{}
.scn_more a .desc h1
{
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}




.gt_report{padding: 32px;}
.gt_report a
{
    margin-bottom: 32px;
    padding: 16px;
    display: block;
    border-radius: 6px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    font-size: 14px;
    color: #000;
    position: relative;
}
.gt_report a:last-child{margin-bottom: 0;}
.gt_report a:after{color: #000}






.op_heading{background: #d2d2d2; padding: 10px 16px;}
.op_heading h1{font-weight: 500; font-size: 14px; color: #000;}







.vd_img_listing{padding: 16px; padding-top: 0;}
.vd_img_listing .figure{border-radius:10px; overflow: hidden; background: #f8f8f8; margin-bottom: 16px;}
.vd_img_listing .figure:last-child{margin-bottom: 0;}
.vd_img_listing .figure .thumb{line-height: 0px;}
.vd_img_listing .figure .thumb img,
.vd_img_listing .figure .thumb iframe,
.vd_img_listing .figure .thumb video{width: 100%;}

.vd_img_listing .figure .naming{padding: 10px;}
.vd_img_listing .figure .naming h1{font-weight: 500; font-size: 12px; color: #000; line-height: 22px;}









.orp_testimonial{padding: 16px; padding-top: 0;}
.orp_testimonial .figure
{
    border-radius:6px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 16px;
    border: 1px solid #daf5f2;
    padding: 5px 10px;
}

.orp_testimonial .figure .nm
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.orp_testimonial .figure .nm span,
.orp_testimonial .figure p,
.orp_testimonial .figure p span,
.orp_testimonial .figure .nm h1{font-weight: 500; color: #002341; font-size: 12px;}

.orp_testimonial .figure p{font-weight: normal;}

.orp_testimonial .figure .nm span
{
    font-size: 10px;
    color: #002341;
    opacity: 0.6;
}





.tvc_gallery
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px 8px;
    margin-top: -8px;
}

.tvc_gallery .thumb
{
    width: calc(33.33% - 16px);
    height: 15vh;
    border-radius: 6px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    line-height: 0;
    margin: 8px;
}

.tvc_gallery .thumb img{width: 100%;}








.or_upload
{
    margin-top: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.or_upload label
{
    width: 80px;
    height: 80px;
    background: #eef8ff;
    border: 1px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 16px;
    position: relative;
    flex-direction: column;
    border-radius: 6px;
}

.or_upload label img{}
.or_upload label img.camera_icon{}
.or_upload label p
{
    font-weight: normal;
    font-size: 8px;
    color: #000d36;
    margin-top: 8px;
}

.or_upload label button
{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    background: #ff0000;
    top: 0px;
    right: 0px;
}
.or_upload label button i{font-size: 20px; color: #fff;}









.invoice_listing{padding: 16px;}
.invoice_listing .figure
{
    border-radius: 6px;
    background: #fff;
    border: 1px solid #daf5f2;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.invoice_listing .figure:last-child{margin-bottom: 0;}


.invoice_listing .figure .cs-left{line-height: 18px;}
.invoice_listing .figure .cs-left p{color: #002341;}
.invoice_listing .figure .cs-left p:nth-child(1){font-weight: 500; font-size: 12px;}

.invoice_listing .figure .cs-left p:nth-child(2){font-size: 10px;color: #002341;}


.invoice_listing .figure .cs-right
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.invoice_listing .figure .cs-right a
{
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #daf5f2;
    overflow: hidden;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invoice_listing .figure .cs-right a img{height: 100%;}








.clcsd{}
.clcsd .collapsible
{
    list-style: none;
    margin: 0px;
    box-shadow: none;
    border: 0px;
}
.clcsd .collapsible li{transition: 0.5s;}

.clcsd .collapsible li .collapsible-header
{
    padding: 16px 20px;
    position: relative;
    border-bottom: solid 1px #d6d6d6;
}

.clcsd .collapsible li .collapsible-header p
{
    text-align: left;
    font-size: 13px;
    color: #49b37f;
    font-weight: 500;
    line-height: 13px;
}

.clcsd .collapsible li .collapsible-header:after
{
    content: 'expand_more';
    position: absolute;
    top: 50%;
    right: 10px;
    font-family: 'Material Icons';
    font-size: 20px;
    word-wrap: normal;
    transform: translateY(-50%);
    color: #B2B2B2;
}



.clcsd .collapsible li .collapsible-body
{
    display: none;
    padding: 0px 20px;
    padding-bottom: 20px;
    height: auto;
    min-height: auto;
    max-height: 180px;
    overflow: auto;
    background: #e2f7eb;
}
.clcsd .collapsible li .collapsible-body p{font-size: 12px; line-height: 22px;}



.clcsd .collapsible li.active
{
    position: relative;
    transition: 0.5s;
}

.clcsd .collapsible li.active .collapsible-header
{
    position: sticky;
    top: 0px;
    z-index: 9;
    border-bottom: 0px;
    background: #e2f7eb;
}


.clcsd .collapsible li.active .collapsible-body{display: block;}
.clcsd .collapsible li.active .collapsible-header:after{content: 'expand_less';}






.orp_profile{position: sticky; top: 0px; left: 0px; width: 100%;}
.orp_profile .p_head{display: flex; align-items: center; justify-content: space-between; padding: 16px;}

.orp_profile .p_head .cs-left button,
.orp_profile .p_head .cs-right button
{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0px;
    outline: none;
}

.orp_profile .p_head .cs-left button i,
.orp_profile .p_head .cs-right button i{color: #fff; font-size: 20px;}



.orp_profile .p_head .cs-left{display: flex; align-items: center; justify-content: flex-start;}
.orp_profile .p_head .cs-left button{}
.orp_profile .p_head .cs-left button i{}
.orp_profile .p_head .cs-left p{margin-left: 10px; font-size: 16px; color: #fff;}

.orp_profile .p_head .cs-right{}
.orp_profile .p_head .cs-right button{}
.orp_profile .p_head .cs-right button i{}



.orp_profile .profile_info{padding:16px 32px 32px; display: flex; align-items: center; justify-content: flex-start;}
.orp_profile .profile_info .thumb
{
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 30px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
}


.orp_profile .profile_info .thumb img{}
.orp_profile .profile_info .pro_info{padding-left: 16px;}

.orp_profile .profile_info .pro_info h1,
.orp_profile .profile_info .pro_info p{color: #fff;}

.orp_profile .profile_info .pro_info h1{font-weight: 500; font-size: 14px;}

.orp_profile .profile_info .pro_info p{font-size: 12px;}








.profile_container
{
    border-radius: 20px 20px 0px 0px;
    background: #fff;
    box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.55);
    padding: 32px;
    z-index: 9;
    position: relative;
}


.profile_container .org_name
{
    background:#fff url('../img/diagonal-arrow.svg') right 23px bottom no-repeat;
    border-radius: 6px;
    border: 1px solid #0203fe;
    padding:5px 10px;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile_container .org_name .icon
{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 35px;
    margin-right: 10px;
}


.profile_container .org_name .icon img{}
.profile_container .org_name .org_info{}
.profile_container .org_name .org_info p
{
    font-size: 11px;
    color: #002341;
}
.profile_container .org_name .org_info p span
{
    font-weight: 500;
    font-size: 12px;
    color: #002341;
}


.profile_container .basic_info{margin-top: 20px;}
.profile_container .basic_info ul{}
.profile_container .basic_info ul li
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0px;
}

.profile_container .basic_info ul li img{margin-right: 20px;}
.profile_container .basic_info ul li p
{
    font-weight: 500;
    font-size: 14px;
    color: #002341;
}
.profile_container .basic_info ul li p a{color: #0203FE;}


.profile_container .basic_info ul li:nth-child(1) p a{color: #002341;}









.profile_container .contact_persons
{
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    padding: 10px;
    margin-top: 20px;
}
.profile_container .contact_persons h1
{
    font-weight: 500;
    font-size: 12px;
    color: #002341;
    margin-bottom: 10px;
}

.profile_container .contact_persons .figure
{
    border-radius: 6px 6px 6px 10px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.profile_container .contact_persons .figure:last-child{margin-bottom: 0;}

.profile_container .contact_persons .figure .cs-left{}
.profile_container .contact_persons .figure .cs-left p
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile_container .contact_persons .figure .cs-left p span{color: #002341; font-weight: 500; font-size: 10px;}
.profile_container .contact_persons .figure .cs-left p a
{
    font-weight: normal;
    color: #0203fe;
    font-size: 10px;
}

.profile_container .contact_persons .figure .cs-left p i{color: #0203FE; margin-right: 10px; font-size: 16px;}


.profile_container .contact_persons .figure .cs-right a{}
.profile_container .contact_persons .figure .cs-right a i{color: #00B900;}














.red_history{}
.red_history .figure{padding: 16px; border-bottom: solid 7px #f8f8f8;}
.red_history .figure .top-info{display: flex; align-items: center; justify-content: space-between;}
.red_history .figure .top-info .cs-left{display: flex; align-items: center; justify-content: flex-start;}
.red_history .figure .top-info .cs-left .icon
{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #004f93;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    overflow: hidden;
}

.red_history .figure .top-info .cs-left .icon i{color: #fff;}
.red_history .figure .top-info .cs-left .icon img{height: 100%;}
.red_history .figure .top-info .cs-left .info{}
.red_history .figure .top-info .cs-left .info p{font-size: 12px; color: #000d36;}
.red_history .figure .top-info .cs-left .info p:nth-child(1){font-weight: 500;}
.red_history .figure .top-info .cs-left .info p:nth-child(2){}


.red_history .figure .top-info .cs-right{}

.red_history .figure .top-info .cs-right h1,
.red_history .figure .top-info .cs-right p{color: #000d36;}

.red_history .figure .top-info .cs-right h1
{
    font-weight: 500;
    font-size: 18px;
}

.red_history .figure .top-info .cs-right p
{
    font-size: 10px;
    opacity: 0.4;
}

.red_history .figure .date-info
{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.red_history .figure .date-info p
{
    font-size: 10px;
    color: rgba(0, 13, 54, 0.6);
    position: relative;
}
.red_history .figure .date-info button,
.red_history .figure .date-info a
{
    height: 25px;
    border-radius: 3px;
    background: #6ac259;
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border: 0px;
    outline: none;
}


.red_history .figure .date-info a i,
.red_history .figure .date-info button i{font-size: 18px; margin-right: 5px;}



.red_history .figure .date-info p.pending{color: #FF8431;}
.red_history .figure .date-info p.pending:after
{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: url('../img/hourglass_icon.svg') no-repeat center;
    top: 2px;
    left: -17px;
}


.red_history .figure .date-info p.received{color: #6AC259;}
.red_history .figure .date-info p.received:after
{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: url('../img/checked_icon.svg') no-repeat center;
    top: 2px;
    left: -17px;
}


.red_history .figure .date-info p.shipped{color: #00B5C9;}
.red_history .figure .date-info p.shipped:after
{
    content: "";
    position: absolute;
    width: 25px;
    height: 15px;
    background: url('../img/logistics-delivery_icon.svg') no-repeat center;
    top: 2px;
    left: -30px;
}






.orp_model{padding: 32px; display: flex; align-items: center; justify-content: center; height: 100vh;}
.orp_model .model_container
{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2), 0px 0px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    width: 100%;
}

.orp_model .model_container .model_cancel
{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px;
    background: transparent;
    color: #ff0000;
}

.orp_model .model_container .mini_container
{
    padding: 32px;
}

.orp_model .model_container .md_heading
{
    margin-bottom: 32px;
}
.orp_model .model_container .md_heading h1
{
    font-weight: 500;
    font-size: 16px;
    color: #000;
}


.orp_model .model_container .md_body{}
.orp_model .model_container .md_body p{color: #000; margin-bottom: 26px; line-height: 24px;}
.orp_model .model_container .md_body p:nth-child(1){font-size: 14px;}
.orp_model .model_container .md_body p:nth-child(2){font-size: 12px;}

.orp_model .model_container .md_body p span{color: #354b9c;}


.orp_model .model_container .md_body .orp-input{}

.orp_model .model_container .md_footer
{
    border-radius: 0px 0px 10px 10px;
    background: #ebffe6;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.orp_model .model_container .md_footer button
{
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background: #27ab00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.06em;
    color: #fff;
    border: 0px;
    outline: none;
}
.orp_model .model_container .md_footer .fill{}
.orp_model .model_container .md_footer .full{width: 100%;}

.orp_model .model_container .md_footer .trns
{
    width: 100%;
    background: transparent;
    font-weight: normal;
    font-size: 14px;
    color: #04f;
}




.modal.slide-in-up
{
    background: transparent;
    backdrop-filter: blur(1px);
    --webkit-backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.46);
}



.term{margin-top: 30px;}
.term label{font-size: 14px; color: #000000;}
.term label input{opacity: 1 !important; position: relative !important;}
.term label a{text-decoration: underline; color: #000ED9;}





.price-filter
{
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.price-filter .model_container{border-radius:20px 20px 0px 0px;}

.price-filter .model_container .fl-header
{
    border-radius: 20px 20px 0px 0px;
    background: #4875b5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.price-filter .model_container .fl-header button
{
    font-size: 12px;
    color: #fff;
    border: 0px;
    outline: none;
    background: transparent;
    padding: 0px 10px;
}


.price-filter .model_container .fl-header p
{
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.price-filter .model_container .filter-body{padding: 16px; display: flex; align-items: flex-start; justify-content: flex-start;}
.price-filter .model_container .filter-body .cs-left{min-width: 100px;}

.price-filter .model_container .filter-body .cs-left button
{
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    color: #002341;
    background: #f3f3f3;
    border: 1px solid #b6b6b6;
    padding: 10px;
    text-align: left;
    position: relative;
}

.price-filter .model_container .filter-body .cs-left button.active
{
    color: #0203fe;
    background: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    border: 0px;
}

.price-filter .model_container .filter-body .cs-left button.active:after
{  
    content: "";
    position: absolute;
    background: #ffffff;
    width: 12px;
    height: 100%;
    top: 0px;
    right: -6px;
}


.price-filter .model_container .filter-body .cs-right
{
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    padding: 10px;
}

.price-filter .model_container .filter-body .cs-right .inputss{}
.price-filter .model_container .filter-body .cs-right .inputss label
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px;
    border-bottom: solid 1px #ccc;
}

.price-filter .model_container .filter-body .cs-right .inputss label:last-child{border-bottom: 0px;}


.price-filter .model_container .filter-body .cs-right .inputss label input
{
    position: relative;
    opacity: 1;
    margin-right: 15px;
}
.price-filter .model_container .filter-body .cs-right .inputss label span
{
    font-size: 12px;
    color: #002341;
}







