<ion-view view-title="Expenses" >

    <ion-nav-buttons side="left">
        <a ng-click="goToBackPage()" class="cs-backbtn button button-icon icon ion-android-arrow-back font18 fff"></a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right" class="custom-right-btn">
        <div  class="right-nav-btn nav-search">
            <a menu-toggle="left" ng-click="onShowModel($event, 'expense')"><i class="material-icons">more_vert</i></a>
        </div>
    </ion-nav-buttons>

    <ion-content>
        <div class="sticky bg-white">
            <div  class="round-tab">
                <ul>
                    <li ng-class="{'active':expensePlanStatus == 'Pending'}" ng-click="getExpenseList('Pending')">
                        <a>Pending</a>
                    </li>
                    <li ng-class="{'active':expensePlanStatus == 'Approved'}" ng-click="getExpenseList('Approved')">
                        <a>Approved</a>
                    </li>
                    <li ng-class="{'active':expensePlanStatus == 'Reject'}" ng-click="getExpenseList('Reject')">
                        <a>Reject</a>
                    </li>
                    <li ng-class="{'active':expensePlanStatus == 'Cancel'}" ng-click="getExpenseList('Cancel')">
                        <a>Cancel</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Loop start -->
        <div  class="coman-list" ng-click="getExpenseDetail(val.id)" ng-repeat="val in expenseListData">
            <div class="top-head">
                <ul>
                    <li>
                        <p>{{val.dateCreated | date: 'd-MMM-y'}}</p>
                        <span>Date Created</span>
                    </li>
                </ul>

                <div class="left-auto wp100">
                    <ul class="jce">
                        <li>
                            <p>&#x20B9; {{val.totalAmt}} / -</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center-item">
                <div class="cs-content">
                    <p>{{val.expenseType}}</p>
                </div>
                <a class="dialer grey-clr" ng-click="getExpenseDetail(val.id)"><i class="material-icons">keyboard_arrow_right</i></a>
            </div>
            <div class="pdlr">
                <div class="cs-grid">
                    <div class="bdr-field wp100" ng-Class="{'approved-bg': val.seniorStatus == 'Approved', 'pending-bg': val.seniorStatus == 'Pending', 'reject-bg': val.seniorStatus == 'Reject'}">
                        <span>Senior Status</span>
                        <p>{{val.seniorStatus}}</p>
                    </div>
                    <div class="bdr-field wp100" ng-Class="{'approved-bg': val.acStatus == 'Approved', 'pending-bg': val.acStatus == 'Pending', 'reject-bg': val.acStatus == 'Reject'}">
                        <span>A/C Status</span>
                        <p>{{val.acStatus}}</p>
                    </div>
                    <div class="bdr-field wp100">
                        <span>Ref ID</span>
                        <p>{{val.travelRefId != '0' ? val.travelRefId : '--'}}</p>
                    </div>
                </div>
            </div>
        </div>
         <!-- Loop End -->


        <div class="data-not-found" ng-if="expenseListData.length == 0">
            <div class="outer">
                <div class="innear">
                    <img src="img/data-not-found.svg" alt="">
                    <h2>Temporarily , No Data Available!</h2>
                </div>
            </div>
        </div>

        <ion-infinite-scroll immediate-check="false" ng-if="!noMoreListingAvailable" on-infinite="getOrderListData('scroll')" distance="20%" class="myspinner">
        </ion-infinite-scroll>
    </ion-content>

    <div class="fix-add">
        <a href="#/tab/expense-add" >
            <i class="material-icons">add</i>
        </a>
    </div>
</ion-view>
