<ion-view view-title="Edit Travel Plan">
    <ion-nav-buttons side="left">
        <a ng-click="goToBackPage()" class="cs-backbtn button button-icon icon ion-android-arrow-back font18 fff"></a>
    </ion-nav-buttons>
    
    <ion-content class="">
        <div class="padding16">
            <form name="travelform" novalidate ng-submit="!travelform.$invalid && !travelPlanExist && submitTravel()">
                <div class="cs-add-form">
                    <div class="input-field field-input" ng-class="{'has-error': travelform.startDate.$invalid && travelform.$submitted}" class="field-input">
                        <input type="date" class="validate" name="startDate" ng-model="travel.startDate" ng-input="checkTravelPlan()" min="{{minMonthDate}}" max="{{maxMonthDate}}" required>
                        <label for="last_name" class="fix-label">Date From</label>
                    </div>
                    
                    <div class="input-field field-input" ng-class="{'has-error': travelform.endDate.$invalid && travelform.$submitted}" class="field-input">
                        <input type="date" class="validate" name="endDate" ng-model="travel.endDate" ng-input="checkTravelPlan()" min="{{minMonthDate}}" max="{{maxMonthDate}}" required>
                        <label for="last_name" class="fix-label">Date To</label>
                    </div>
                    <span ng-if="travelPlanExist == true" class="error-left relative">Already Set The Plan</span>
                    <div class="underline-heading mt-10">
                        <h2>Mention Your Area & purpose of visit</h2>
                    </div>
                    <div class="form-column">
                        <div class="name">Select Type</div>
                        <div class="check-radio">
                            <label  ng-if="loginData.designation_id==3 || loginData.designation_id==4 || loginData.designation_id==5 ||loginData.designation_id==7" for="" ng-click="All_distributors = [];allDealerList =[];">
                                <input type="radio" name="TravelType" ng-model="form.TravelType" value="Area">
                                Area
                            </label>
                            <label for="" ng-click="get_distributor();getAllDealer()">
                                <input type="radio" name="TravelType" ng-model="form.TravelType" value="Party">
                                Party
                            </label>
                        </div>
                    </div>
                    
                    <!-- <div class="input-field field-input" ng-class="{'has-error': travelform.visitDate.$invalid && travelform.$submitted}" class="field-input">
                        <input type="date" class="validate" name="visitDate" ng-model="form.visitDate" min="{{travel.startDate}}" max="{{travel.endDate}}">
                        <label for="last_name" class="fix-label">Visit Date</label>
                    </div> -->
                    
                    <div class="input-field field-input" ng-class="{'has-error': travelform.visitDate.$invalid && travelform.$submitted}" class="field-input">
                        <input type="date" class="validate" name="visitDate" ng-model="form.visitDate" >
                        <label for="last_name" class="fix-label">Visit Date</label>
                    </div>

                    <ng-container ng-if="form.TravelType == 'Area'">
                        <div ng-class="{'has-error': addressForm.stateName.$invalid && addressForm.$submitted}" class="field-input">
                            <label for="last_name" class="fix-label">State</label>
                            <div class="add-css-select pt0 selectopt no-padding pb16 add2">
                                <searchandselect selecteditem="search.stateName" values="stateList" key="Key"  totalrecords="totalStateRecords" onscroll="onGetSearchSelectDataHandler('fetchStateData', searchKey, pagenumber)"></searchandselect>
                            </div>
                        </div>
                        <div ng-class="{'has-error': addressForm.districtName.$invalid && addressForm.$submitted}" class="field-input">
                            <label for="last_name" class="fix-label">District</label>
                            <div class="add-css-select pt0 selectopt no-padding pb16 add2">
                                <searchable-multiselect display-attr="Key" selected-items="search.districtName" all-items="districtList" add-item="select_mul_district(item)" remove-item="remove_mul_district(item)" >
                                </searchable-multiselect>
                            </div>
                        </div>
                        
                        <div ng-class="{'has-error': form.city.$invalid && form.$submitted}" class="field-input">
                            <label for="last_name" class="fix-label">City</label>
                            <div class="add-css-select pt0 selectopt no-padding add2">
                                <searchable-multiselect display-attr="Key" selected-items="search.city" all-items="Allcities" add-item="select_mul_city(item)" remove-item="remove_mul_city(item)" >
                                </searchable-multiselect>
                            </div>
                        </div>

                        <div class="field-input mt16" >
                            <label  class="fix-label">Distributor</label>
                            <div class="add-css-select pt0 selectopt no-padding  add2">
                                <searchable-multiselect display-attr="Key" selected-items="search.drName" all-items="All_distributors" add-item="select_mul_dr(item)">
                                </searchable-multiselect>
                            </div>
                        </div>

                        <div class="field-input mt16" >
                            <label class="fix-label">Dealer</label>
                            <div class="add-css-select pt0 selectopt no-padding  add2">
                                <searchable-multiselect display-attr="Key" selected-items="search.dealerName" all-items="allDealerList" add-item="select_mul_dealer(item)" >
                                </searchable-multiselect>
                            </div>
                        </div>

                    </ng-container>
                    <!-- <div class="field-input" ng-if="form.TravelType == 'Party'">
                        <label for="last_name" class="fix-label">Distributor</label>
                        <div class="add-css-select pt0 selectopt no-padding  add2">
                            <searchable-multiselect display-attr="Key" selected-items="search.drName" all-items="distributorData" add-item="select_mul_dr(item)" remove-item="remove_mul_dr(item)" >
                            </searchable-multiselect>
                        </div>
                    </div> -->
                    <ng-container ng-if="form.TravelType == 'Party'">
                       
                        <div class="field-input" >
                            <label for="last_name" class="fix-label">Distributor</label>
                            <div class="add-css-select pt0 selectopt no-padding  add2">
                                <searchable-multiselect display-attr="Key" selected-items="search.drName" all-items="All_distributors" add-item="select_mul_dr(item)">
                                </searchable-multiselect>
                            </div>
                        </div>
                        <div class="field-input mt16" >
                            <label for="last_name" class="fix-label">Dealer</label>
                            <div class="add-css-select pt0 selectopt no-padding  add2">
                                <searchable-multiselect display-attr="Key" selected-items="search.dealerName" all-items="allDealerList" add-item="select_mul_dealer(item)" >
                                </searchable-multiselect>
                            </div>
                        </div>
                    </ng-container>
                    <div class="input-field field-input">
                        <input name="companyName"type="text" class="validate" name="remark" ng-model="form.remark" replace="[^a-zA-Z]" with="">
                        <label for="last_name">Purpose of visit</label>
                    </div>
                </div>
                
                <div class="cs-save-btn pt0 text-right">
                    <button ng-if="form.TravelType == 'Area'" type="button" class="outline" ng-disabled="!search.stateName || !search.districtName || !search.city || !form.remark" ng-click="addPlan()">Add To Plan List</button>
                    
                    <button ng-if="form.TravelType == 'Party'" type="button" class="outline" ng-disabled="!search.drName" ng-click="addPlan()">Add To Plan List</button>
                </div>
                <section class="ac-container">
                    <figure ng-repeat = "row in sorted_arr;">
                        <input id="ac-{{$index+1}}" name="accordion-1" type="checkbox" class="ds-none">
                        <label for="ac-{{$index+1}}" class="header-label">{{row.date | date:'d MMM y'}}</label>
                        <article>
                            <div class="plan-list box-shadow-none border1px" ng-repeat = "val in row.data">
                                <h2>{{val.TravelType}}</h2>
                                <div class="bg-column mt0">
                                    <p>{{val.city}} {{val.district}} {{val.state}} {{val.drName}}</p>
                                    <a class="del" ng-click="removeTravelArea($index)"><i class="material-icons vert">delete_sweep</i></a>
                                    <div class="cs-text-column">
                                        <p>
                                            <span>Purpose Of Visit :</span>{{val.remark}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </figure>
                </section>
                <div class="cs-save-btn text-right pb0" ng-if="travelData > '0'">
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
