<ion-view view-title="Stock" name="Scan-view" hide-nav-bar="true">
    
    <ion-header-bar class="opr_ion_header bg-black">
        <div class="cs-left">
            <button class="back-button" ng-click="goToBackPageHandler()"><i class="material-icons">arrow_back</i></button>
            <h1 class="orp_title">Collection Punch</h1>
        </div>
    </ion-header-bar>
    
    <ion-content>
        
        <div class="sticky bg-white">
            <div class="cs-month size-change">
                <div class="df ac">
                    <ul>
                        <li ng-click="onDateChangeHandler('previous')" class="mw45">
                            <button class="previous-btn"><i class="material-icons">keyboard_arrow_left</i></button>
                        </li>
                        <li>{{selectedDate | date: 'dd MMM yyyy'}}</li>
                        <li ng-click="onDateChangeHandler('next')" class="mw45">
                            <button class="next-btn"><i class="material-icons">keyboard_arrow_right</i></button>
                        </li>
                    </ul>
                    <a class="date-pick df ac jcc">
                        <label class="chedate">
                            <input name="date" ng-model="onDateSelected.date" type="date" max="{{today}}"
                            ng-change="onDateChangeHandler('jump')" ng-reflect-name="date"
                            class="ng-untouched ng-pristine ng-valid">
                            <i class="material-icons">date_range</i>
                        </label>
                    </a>
                </div>
            </div>
        </div>
        <!-- -------------OUTSTANDING OVERVIEW--------------------- -->
        
        
        <div class="coman-list" ng-repeat="row in dailyCollectionData" >
            <div class="top-head">
                <ul>
                    <li>
                        <p>{{row.dr_name}} ({{row.dr_code}}) </p>
                        <span>Distributor</span>
                    </li>
                </ul>
            </div>
            
            <div class="top-head">
                <ul>
                    <li>
                        <p>{{row.category_name}}</p>
                        <span>Product</span>
                    </li>
                    <li>
                        <p>{{row.ageing_type}}</p>
                        <span>Outstanding Cat.</span>
                    </li>
                    <li>
                        <p>₹ {{row.amount}} Lac.</p>
                        <span>Collection Amount</span>
                    </li>
                </ul>
            </div>
            <div class="top-head">
                <ul>
                    <li>
                        <p>{{row.payment_mode}}</p>
                        <span>Payment Mode</span>
                    </li>
                    <li>
                        <p>{{row.transaction_details}}</p>
                        <span>Refrence No.</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="data-not-found" ng-if="dailyCollectionData.length == 0">
            <div class="outer">
                <div class="innear">
                    <img src="img/data-not-found.svg" alt="">
                    <h2>Temporarily , No Data Available!</h2>
                </div>
            </div>
        </div>
        
    </ion-content>
    
    <div ng-if="selectedDate==today" class="fix-add">
        <a ng-click="addCollectionModel($event)">
            <i class="material-icons">add</i>
        </a>
    </div>
    
    <script id="add-collection-punch" type="text/ng-template">
        <ion-modal-view style="background: rgba(0, 0, 0, 0.7);">
            <ion-content class="padding">
                <div class="modal-outer ht100 padding0">
                    <div class="modal-cs">
                        <div class="modal-head">
                            <h2 class="title font12 font500">Add Outstanding Collection</h2>
                            <button class="button button-clear button-primary" style="min-height: 33px; height: 33px;" ng-click="add_collection_popovers.hide()">
                                <i class="material-icons font17">clear</i>
                            </button>
                        </div>
                        <div class="padding10">
                            <div class="field-input">
                                <select class="browser-default simple-dropdown margin0"  ng-options="row.id as row.dr_name for row in distributorDailyCollectionPlan" ng-model="distributorPlanData.dr_id" ng-change="getSelectedDrPlan(distributorPlanData.dr_id)" >
                                    <option value="" disabled>Select an option</option>
                                </select>
                                
                                <select class="browser-default" ng-model="distributorPlanData.category">
                                    <option value="" disabled selected >Select Category</option>
                                    <option value="{{row.category_name}}" ng-repeat="row in productCategory">{{row.category_name}}</option>
                                </select>
                                
                                <div class="cs-add-form">
                                    <div class="input-field field-input" >
                                        <label for="last_name" class="active" >Outstanding Amount (In Lac.)<sup>*</sup></label>
                                        <input type="text" readonly name="transaction_details" ng-model="distributorPlanData.outstandingAmount">
                                    </div>
                                </div>
                                
                                <div class="cs-add-form">
                                    <div class="input-field field-input" >
                                        <label for="last_name" >Collection Amount In Lac.<sup>*</sup></label>
                                        <input type="tel" name="amount" ng-model="distributorPlanData.amount">
                                    </div>
                                </div>
                                
                                <select class="browser-default" ng-model="distributorPlanData.aging">
                                    <option value="" disabled selected >Select Type</option>
                                    <option value="{{row}}" ng-repeat="row in outStandingAge">{{row}}</option>
                                    <!-- <option value="120+">120+</option>
                                        <option value="90-120">90-120</option>
                                        <option value="60-90">60-90</option>
                                        <option value="30-60">30-60</option> -->
                                    </select>
                                    
                                    <select class="browser-default" ng-model="distributorPlanData.payment_mode">
                                        <option value="" disabled selected >Select Payment Mode</option>
                                        <option value="Virtual Account">Virtual Account</option>
                                        <option value="RTGS/NEFT">RTGS/NEFT</option>
                                        <option value="Cheque">Cheque</option>
                                    </select>
                                    
                                    <div class="cs-add-form">
                                        <div class="input-field field-input" >
                                            <label for="last_name" >Refrence Number<sup>*</sup></label>
                                            <input type="text" name="transaction_details" ng-model="distributorPlanData.transaction_details">
                                        </div>
                                    </div>
                                    
                                    <div class="or_upload">
                                        <label ng-click="open_camera();">
                                            <img src="img/upload_camera-icon.svg" alt="" class="camera_icon">
                                            <p>Upload Image</p>
                                        </label>
                                        
                                        <label ng-repeat="mediadatas in mediaData">
                                            <button ng-click="delete_img($index)"><i class="material-icons">delete_sweep</i></button>
                                            <img src="{{mediadatas.src}}" alt="">
                                        </label>
                                        
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            
                            <div class="sgsave padding10">
                                <button class="h30 font11" ng-click="saveCollectionPunchData()" >
                                    SAVE<i class="material-icons ml10">arrow_right_alt</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
        
        
    </ion-view>