        <ion-view view-title="Daily Plan Report" name="Scan-view" hide-nav-bar="true" ng-init="newPlanCreated = true">
            
            <ion-header-bar class="opr_ion_header bg-black">
                <div class="cs-left">
                    <button class="back-button" ng-click="goToBackPageHandler()"><i class="material-icons">arrow_back</i></button>
                    <h1 class="orp_title">Daily Work Plan</h1>
                </div>
                
                <div class="cs-right">
                    <button ng-click="dailyPlanReport($event)"><i class="material-icons">more_vert</i></button>
                </div>
            </ion-header-bar>
            
            <ion-content>
                <div class="sticky bg-white">
                    <div class="cs-month size-change">
                        <div class="df ac">
                            <ul>
                                <li ng-click = "onDateChangeHandler('previous')" class="mw45">
                                    <button class="previous-btn"><i class="material-icons">keyboard_arrow_left</i></button>
                                </li>
                                <li >{{selectedDate | date: 'dd MMM yyyy'}}</li>
                                <li  ng-if="today+1 > selectedDate" ng-click = "onDateChangeHandler('next')" class="mw45">
                                    <button class="next-btn"><i class="material-icons">keyboard_arrow_right</i></button>
                                </li>
                            </ul>
                            <a class="date-pick df ac jcc">
                                <label class="chedate">
                                    <input name="date"  ng-model="onDateSelected.date" type="date" max="{{today}}" ng-change="onDateChangeHandler('jump')" ng-reflect-name="date" class="ng-untouched ng-pristine ng-valid">
                                    <i class="material-icons">date_range</i>
                                </label>
                            </a>
                        </div>
                        <select ng-if="planData.myplan==false" class="browser-default simple-dropdown margin0"  ng-options="row.id as row.name for row in assignUserListArray" ng-model="dailyPlanData.userId" ng-change="getDailyActivityPlan(selectedDate)" >
                            <option value="" disabled>Select an option</option>
                        </select>
                    </div>
                </div>
                
                <!-- -------------DEALER VISIT--------------------- -->
                
                <div style="background: #ffd1ce;">
                    <div class="cs-heading1 heading-right padding6">
                        <p class="font11">Dealer Visit {{newPlanCreated}}</p>
                        <div ng-if="newPlanCreated && dailyPlanData.dealer_plan_exist==0 && planData.myplan==true" class="cs-save-btn padding0">
                            <button ng-click="getAllProductCategory();addDealerPlanModel($event)" class="outline border-radius3 box-shadow-none pd-top-bottom2 font10">ADD PLAN</button>
                        </div>
                    </div>
                    
                    <div class="pd-left-right6">
                        <div ng-if="dailyPlanData.dealer_plan.length" class="accordan-table padding0 mb5">
                            <table>
                                <tr>
                                    <th class="w40">Category</th>
                                    <th class="w40">Total</th>
                                    <th class="w40">Active</th>
                                    <th class="w100 padding0">Dealer Visit
                                        <table>
                                            <tr class="border0 padding0">
                                                <th class="w40 padding0 border-left0">Plan</th>
                                                <th class="w60 padding0 border-right0">Achievement</th>
                                            </tr>
                                        </table>
                                    </th>
                                    <th class="w100 padding0">Secondary Order
                                        <table>
                                            <tr class="border0 padding0">
                                                <th class="w40">Plan</th>
                                                <th class="w60">Achievement</th>
                                            </tr>
                                        </table>
                                    </th>
                                    <th class="w100 padding0">New Dealer
                                        <table>
                                            <tr class="border0 padding0">
                                                <th class="w40 padding0 border-left0">Plan</th>
                                                <th class="w60 padding0 border-right0">Achievement</th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                <tr ng-repeat="row in dailyPlanData.dealer_plan">
                                    <td>{{row.category_name}}</td>
                                    <td>{{row.total_dealer_network}}</td>
                                    <td>{{row.active_dealer_network}}</td>
                                    <td class="padding0">
                                        <table>
                                            <tr class="border0">
                                                <td class="w40 padding0 border-left0">{{row.dealer_visit_plan}}</td>
                                                <td class="w60 padding0 border-right0">{{row.dealer_visit_achievement}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="padding0">
                                        <table>
                                            <tr class="border0">
                                                <td class="w40 padding0 border-left0">{{row.secondary_order_plan}}</td>
                                                <td class="w60 padding0 border-right0">{{row.secondary_order_achivement}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="padding0">
                                        <table>
                                            <tr class="border0">
                                                <td class="w40 padding0 border-left0">{{row.new_dealer_visit_plan}}</td>
                                                <td class="w60 padding0 border-right0">{{row.new_dealer_visit_achievement}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        <div ng-if="!dailyPlanData.dealer_plan.length" class="no-data-text">
                            <p>No any plan exist </p>
                        </div>
                        
                    </div>
                    <div style="border: 1px solid #ffa19b;"></div>
                </div>
                
                <!-- -------------DISTRIBUTOR VISIT--------------------- -->
                
                <div style="background: #cbefff;">
                    <div class="cs-heading1 heading-right padding6">
                        <p class="font11">Distributor Visit</p>
                        <div ng-if="newPlanCreated && dailyPlanData.distributor_plan_exist==0 && planData.myplan==true" class="cs-save-btn padding0">
                            <button ng-click="getAllProductCategory();addDistributorPlanModel($event)" class="outline border-radius3 box-shadow-none pd-top-bottom2 font10">ADD PLAN</button>
                        </div>
                    </div>
                    
                    <div class="pd-left-right6" >
                        <div ng-if="dailyPlanData.distributor_plan.length" class="accordan-table padding0 mb5">
                            <table>
                                <tr>
                                    <th class="w40">Category</th>
                                    <th class="w40">Total</th>
                                    <th class="w40">Active</th>
                                    <th class="w100 padding0">Distributor Visit
                                        <table>
                                            <tr class="border0 padding0">
                                                <th class="w40 padding0 border-left0">Plan</th>
                                                <th class="w60 padding0 border-right0">Achievement</th>
                                            </tr>
                                        </table>
                                    </th>
                                    <th class="w100 padding0">Primary Order
                                        <table>
                                            <tr class="border0 padding0">
                                                <th class="w40">Plan</th>
                                                <th class="w60">Achievement</th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                <tr ng-repeat="row in dailyPlanData.distributor_plan">
                                    <td>{{row.category_name}}</td>
                                    <td>{{row.total_distributor_network}}</td>
                                    <td>{{row.active_distributor_network}}</td>
                                    
                                    <td class="padding0">
                                        <table>
                                            <tr class="border0">
                                                <td class="w40 padding0 border-left0">{{row.distributor_visit_plan}}</td>
                                                <td class="w60 padding0 border-right0">{{row.distributor_visit_achievement}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="padding0">
                                        <table>
                                            <tr class="border0">
                                                <td class="w40 padding0 border-left0">{{row.primary_order_plan}}</td>
                                                <td class="w60 padding0 border-right0">{{row.primary_order_achivement}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    
                                </tr>
                            </table>
                        </div>
                        <div ng-if="!dailyPlanData.distributor_plan.length" class="no-data-text">
                            <p>No any plan exist </p>
                        </div>
                    </div>
                    <div style="border: 1px solid #7fd5fb;"></div>
                </div>   
                
                <!-- -------------OUTSTANDING OVERVIEW--------------------- -->
                
                <div class="mb16" style="background: #e2ffe4;">
                    <div class="cs-heading1 heading-right padding6">
                        <p class="font11">Outstanding</p>
                        <!-- <div ng-if="newPlanCreated && dailyPlanData.outstanding_plan_exist==0 && planData.myplan==true" class="cs-save-btn padding0">
                            <button ng-click="getAllProductCategory();addPlanModel($event)" class="outline border-radius3 box-shadow-none pd-top-bottom2 font10">ADD PLAN</button>
                        </div> -->
                    </div>
                    
                    <div class="pd-left-right6" >
                        <div ng-if="dailyPlanData.outstanding_plan.length" class="accordan-table padding0 mb5">
                            <table>
                                <tr >
                                    <th class="w50">Category</th>
                                    <th ng-repeat = "row in dailyPlanData.outstanding_plan" class="w180 padding0">{{row.category_name}}
                                        <table>
                                            <tr class="border0 padding0">
                                                <th class="w60 padding0 border-left0">OS</th>
                                                <th class="w60 padding0 border-left0">Plan</th>
                                                <th class="w60 padding0 border-right0">Achievement</th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="w50">60+</td>
                                    <td ng-repeat = "row in dailyPlanData.outstanding_plan" class="w180 padding0">
                                        <table>
                                            <tr class="border0 padding0">
                                                <td class="w60 padding0 border-left0">₹ {{row.plus_60_outstanding ? row.plus_60_outstanding+' Lac': 0 }} </td>
                                                <td class="w60 padding0 border-left0">₹ {{row.plus_60_plan?row.plus_60_plan:0}}</td>
                                                <td class="w60 padding0 border-right0">₹ {{row.plus_60_collection ? row.plus_60_collection : 0}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="w50">120+</td>
                                    <td class="w180 padding0" ng-repeat = "row in dailyPlanData.outstanding_plan">
                                        <table>
                                            <tr class="border0 padding0">
                                                <td class="w60 padding0 border-left0">₹ {{row.plus_120_outstanding ? row.plus_120_outstanding +' Lac': 0}}</td>
                                                <td class="w60 padding0 border-left0">₹ {{row.plus_120_plan ? row.plus_120_plan : 0}}</td>
                                                <td class="w60 padding0 border-right0">₹ {{row.plus_120_collection ? row.plus_120_collection : 0}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w50">90-120</td>
                                    <td class="w180 padding0" ng-repeat = "row in dailyPlanData.outstanding_plan">
                                        <table>
                                            <tr class="border0 padding0">
                                                <td class="w60 padding0 border-left0">₹ {{row.outstanding_90_120 ? row.outstanding_90_120 +' Lac' : 0}} </td>
                                                <td class="w60 padding0 border-left0">₹ {{row.plan_90_120 ? row.plan_90_120 : 0}}</td>
                                                <td class="w60 padding0 border-right0">₹ {{row.collection_90_120 ? row.collection_90_120 : 0}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w50">60-90</td>
                                    <td class="w180 padding0" ng-repeat = "row in dailyPlanData.outstanding_plan">
                                        <table>
                                            <tr class="border0 padding0">
                                                <td class="w60 padding0 border-left0">₹ {{row.outstanding_60_90 ? row.outstanding_60_90 +' Lac' : 0}}</td>
                                                <td class="w60 padding0 border-left0">₹ {{row.plan_60_90 ? row.plan_60_90 : 0}}</td>
                                                <td class="w60 padding0 border-right0">₹ {{row.collection_60_90 ? row.collection_60_90 : 0}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w50">30-60</td>
                                    <td class="w180 padding0" ng-repeat = "row in dailyPlanData.outstanding_plan">
                                        <table>
                                            <tr class="border0 padding0">
                                                <td class="w60 padding0 border-left0">₹ {{row.outstanding_30_60 ? row.outstanding_30_60 +' Lac' : 0}}</td>
                                                <td class="w60 padding0 border-left0">₹ {{row.plan_30_60 ? row.plan_30_60 : 0}}</td>
                                                <td class="w60 padding0 border-right0">₹ {{row.collection_30_60 ? row.collection_30_60 : 0}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="!dailyPlanData.outstanding_plan.length" class="no-data-text">
                            <p>No any plan exist </p>
                        </div>
                    </div>
                    
                    <div style="border: 1px solid #6ef577;"></div>
                </div>
            </ion-content>
            
            <script id="add-dealer-plan" type="text/ng-template">
                <ion-modal-view style="background: rgba(0, 0, 0, 0.7);">
                    <ion-content class="padding">
                        <div class="modal-outer ht100 padding0">
                            <div class="modal-cs">
                                <div class="modal-head">
                                    <h2 class="title font12 font500">Add Dealer Plan</h2>
                                    <button class="button button-clear button-primary" style="min-height: 33px; height: 33px;" ng-click="add_plan_popovers.hide()">
                                        <i class="material-icons font17">clear</i>
                                    </button>
                                </div>
                                <div class="padding10">
                                    <div class="accordan-table padding0 mb5">
                                        <table>
                                            <tr>
                                                <th class="w40">Category</th>
                                                <th class="w80">Dealer Visit</th>
                                                <th class="w80">Secondary Order</th>
                                                <th class="w80">New Dealer</th>
                                            </tr>
                                            <tr ng-repeat="row in productCategory">
                                                <td>{{row.category}}</td>
                                                <td><input name="exist_plan" ng-model="row.exist_plan" type="text" placeholder="Type here"></td>
                                                <td><input name="secondary" ng-model="row.secondary" type="text" placeholder="Type here"></td>
                                                <td><input name="new_plan" ng-model="row.new_plan" type="text" placeholder="Type here"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="sgsave padding10">
                                    <button class="h30 font11" ng-click="add_plan_popovers.hide();saveDealerPlan('dealer')">
                                        SAVE<i class="material-icons ml10">arrow_right_alt</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-modal-view>
            </script>
            
            <script id="add-distributor-plan" type="text/ng-template">
                <ion-modal-view style="background: rgba(0, 0, 0, 0.7);">
                    <ion-content class="padding">
                        <div class="modal-outer ht100 padding0">
                            <div class="modal-cs">
                                <div class="modal-head">
                                    <h2 class="title font12 font500">Add Distributor Plan</h2>
                                    <button class="button button-clear button-primary" style="min-height: 33px; height: 33px;" ng-click="add_distributor_plan_popovers.hide()">
                                        <i class="material-icons font17">clear</i>
                                    </button>
                                </div>
                                <div class="padding10">
                                    <div class="accordan-table padding0 mb5">
                                        <table>
                                            <tr>
                                                <th class="w40">Category</th>
                                                <th class="w80">Distributor Visit</th>
                                                <th class="w80">Primary Order</th>
                                            </tr>
                                            <tr ng-repeat="row in productCategory">
                                                <td>{{row.category}}</td>
                                                <td><input name="exist_plan" ng-model="row.exist_plan" type="text" placeholder="Type here"></td>
                                                <td><input name="primary" ng-model="row.primary" type="text" placeholder="Type here"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="sgsave padding10">
                                    <button class="h30 font11" ng-click="add_distributor_plan_popovers.hide();saveDealerPlan('distributor')">
                                        SAVE<i class="material-icons ml10">arrow_right_alt</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-modal-view>
            </script>
            
            <script id="add-outstanding-plan" type="text/ng-template">
                <ion-modal-view style="background: rgba(0, 0, 0, 0.7);">
                    <ion-content class="padding">
                        <div class="modal-outer ht100 padding0">
                            <div class="modal-cs">
                                <div class="modal-head">
                                    <h2 class="title font12 font500">Add Outstanding Plan</h2>
                                    <button class="button button-clear button-primary" style="min-height: 33px; height: 33px;" ng-click="addOutStandingPlan.hide()">
                                        <i class="material-icons font17">clear</i>
                                    </button>
                                </div>
                                <div class="padding10">
                                    <div class="accordan-table padding0 mb5">
                                        <table>
                                            <tr>
                                                <th class="w50">Category</th>
                                                <th class="w60 padding0" ng-repeat="row in productCategory">{{row.category}}
                                                    <table>
                                                        <tr class="border0 padding0">
                                                            <th class="w60 padding0 border-left0">Plan</th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                
                                            </tr>
                                            <tr ng-repeat="row in outStandingAge">
                                                <td class="w50">{{row}}</td>
                                                <td ng-repeat="val in productCategory" class="w60 padding0">
                                                    <table>
                                                        <tr class="border0 padding0">
                                                            <td class="w60 padding0 border-left0"><input type="text" name="collection_plan" ng-model="filianOutStanding[val.category][row]" placeholder="Type Here"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="sgsave padding10">
                                    <button class="h30 font11" ng-click="addOutStandingPlan.hide();saveOutstandingPlan()">
                                        SAVE<i class="material-icons ml10">arrow_right_alt</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-modal-view>
            </script>
        </ion-view>
        