<ion-view view-title="Distribution Network">
    
    <ion-nav-buttons side="left">
        <a ng-click="goToBackPageHandler()"
        class="cs-backbtn button button-icon icon ion-android-arrow-back font18 fff"></a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right" class="custom-right-btn">
        <div ng-click="onSeachActionHandler('open')" class="right-nav-btn nav-search">
            <a menu-toggle="left"><i class="material-icons">search</i></a>
        </div>
        <!-- <div ng-class="isSearchBarOpen ? 'active' : ''" class="search-filter">
            <input ng-model = "data.search" type="text" id = "searchData" ng-change = "filterNetworkList(data.search)">
            <a ng-click = "onSeachActionHandler('close')" placeholder = "Search" class="close-filter"><i class="material-icons">keyboard_backspace</i></a>
        </div> -->
        
        <div ng-class="isSearchBarOpen ? 'active' : ''" class="search-filter">
            <input ng-model="data.search" type="text" id="searchData"
            ng-keyup="$event.keyCode == 13 ? getNetworkList(data.type, '',data.status) : null">
            <a ng-click="onSeachActionHandler('close')" placeholder="Search" class="close-filter">
                <i class="material-icons">keyboard_backspace</i>
            </a>
        </div>
    </ion-nav-buttons>

    <div class="sticky bg-white top50">
        <div class="round-tab">
            <ul>
                <li ng-click="getNetworkList('Distributor','','');networkTabActive = 1" ng-class="networkTabActive == 1 ? 'active' : ''">
                    <a>Distributor</a>
                </li>
                
                <li ng-click="getNetworkList('Dealer','','Pending');networkTabActive = 2" ng-class="networkTabActive == 2 ? 'active' : ''">
                    <a>Dealer</a>
                </li>
            </ul>
        </div>
    </div>

    <ion-content class="mt55">
        <ion-refresher on-refresh="data.search = ''; onSetCurrentPageHandler();getOrderListData('onRefresh')">
            <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
            </ion-refresher-content>
        </ion-refresher>
    
        <div ng-repeat="row in myNetworkList" class="coman-list">
            <div class="top-head" ng-click="goToNetworkDetail(row.id,row.type_name)">
                <ul>
                    <li>
                        <p>{{!row.dateCreatedInFormat ? 'N/A' : row.dateCreatedInFormat}}</p>
                        <span>Date Created</span>
                    </li>
                    <li>
                        <p>{{row.created_by_name ? row.created_by_name : 'N/A'}}</p>
                        <span>Created By</span>
                    </li>
                    <li ng-if="networkTabActive == 2">
                        <p ng-class="{'pending-clr':row.dealer_status=='Pending','approved-clr':row.dealer_status=='Approved'}">{{row.dealer_status}}</p>
                        <span>Status</span>
                    </li>
                </ul>
            </div>
            
            <div class="center-item">
                <div class="cs-icon" ng-click="goToNetworkDetail(row.id,row.type_name)">{{row.dr_name[0] ? row.dr_name[0] : '--'}}
                </div>
                <div class="cs-content" ng-click="goToNetworkDetail(row.id,row.type_name)">
                    <p>{{row.dr_name ? row.dr_name : 'N/A'}} {{row.dr_code ? '('+row.dr_code+')' : ''}}</p>
                    <span>{{row.contact_name ? row.contact_name : 'N/A'}}</span>
                </div>
                <a ng-if="row.sfa_contact_no" href="tel: {{row.sfa_contact_no}}" class="dialer">
                    <i class="material-icons">call</i>
                </a>
            </div>
        </div>
            
        <div class="data-not-found" ng-if="myNetworkList.length == 0">
            <div class="outer">
                <div class="innear">
                    <img src="img/data-not-found.svg" alt="">
                    <h2>Temporarily , No Data Available!</h2>
                </div>
            </div>
        </div>
        
        <!-- commented -->
            
        <ion-infinite-scroll immediate-check="false" ng-if="noMoreItemsAvailable==false"
            on-infinite="getNetworkList(data.type, 'scroll',data.status)" distance="20%" class="myspinner">
        </ion-infinite-scroll>
        <div class="h60"></div>
    </ion-content>

    <div ng-if="data.type=='Dealer'" class="fix-botm-item">
        <div class="round-tab flat green-tab wp100">
            <ul>
                <li ng-click="getNetworkList('Dealer','','Pending')" ng-class="data.status == 'Pending' ? 'active' : ''">
                    <a>Pending</a>
                </li>
            
                <li ng-click="getNetworkList('Dealer','','Approved')" ng-class="data.status == 'Approved' ? 'active' : ''">
                    <a>Active</a>
                </li>
            </ul>
        </div>
        <div class="fix-add flat">
            <a ng-click="goToNetwork()">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
</ion-view>