<ion-view view-title="Secondary Target Detail">
    
    <ion-nav-buttons side="left">
        <a href="#/tab/secondary-target-list" class="cs-backbtn button button-icon icon ion-android-arrow-back font18 fff"></a>
    </ion-nav-buttons>
    
    <ion-content>
        
        <div class="pr16 pl16" hidden>
            <div class="target-bar tr-change border-radius box-shadow-none padding0">
                <div class="tr-top">
                    <h3><i class="material-icons">event_note</i> {{targetMonth}} {{targetYear}}</h3>
                </div>
                
                <span class="progress-bar">
                    <span class="inside" style=" width: {{targetPercentage}}%;">&nbsp;</span>
                </span>
                <div class="v-s">
                    <h2>Target <span>&#8377; {{targetValue}}</span></h2>
                    <h2>Achieve <span>&#8377; {{targetAchievement}}</span></h2>
                </div>
            </div>
        </div>

        <div class="coman-list clrd-bg margin0 border-radius box-shadow-none" style="display: none;">
            <div class="top-head">
                <ul>
                    <li>
                        <p>---</p>
                        <span>Order ID</span>
                    </li>
                </ul>
            </div>
            
            <div class="center-item">
                <div class="cs-icon">R</div>
                <div class="cs-content">
                    <p>RAJSHREE ENTERPRISES</p>
                    <span>10007815</span>
                </div>
                <a class="dialer"><i class="material-icons">keyboard_arrow_right</i></a>
            </div>
            
            <div class="pdlr">
                <div class="cs-flex">
                    <div class="bdr-field wp100">
                        <span>Order Status</span>
                        <p>---</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="cs-heading1 pt10" style="margin-bottom: -10px;">
            <p>Brand Wise Information</p>
        </div>
        
        <div class="row" style="display: contents;">
        
            <div class="form-space">
                <label class="item-input item-select cs-select csm-input mb0">
                    <div class="input-label">Category List <sup>*</sup></div>
                    <select >
                        <!-- <option value="" disabled selected>Select Lead Status </option> -->
                        <option ng-repeat="row in categoryTOTAL">{{row.name}} , total - {{row.value}}</option>
                    </select>
                </label>
            </div>
           
            <div class="form-space" >
                <label class="item-input item-select cs-select csm-input mb0">
                    <div class="input-label">Brand List <sup>*</sup></div>
                    <select >
                        <!-- <option value="" disabled selected>Select Lead Status </option> -->
                        <option ng-repeat="row in brandTotal">{{row.name}} , total - {{row.value}}</option>
                    </select>
                </label>
            </div>
            </div>

        <div class="coman-list" ng-repeat="row in targetdetail">            
            <div class="pdlr muti-pdlr">
                <h1>{{row.brand}}</h1>
                <div class="cs-flex">
                    <div class="bdr-field wp100">
                        <span>Target</span>
                        <p>{{row.target}}</p>
                    </div>
                    <div class="bdr-field wp100">
                        <span>Achievement</span>
                        <p>{{row.achievement}}</p>
                    </div>
                    <div class="bdr-field wp100">
                        <span>Balance %</span>
                        <p>{{row.achievement_percent}} %</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="h50"></div>
    </ion-content>
</ion-view>