<ion-view view-title="Stock - {{!showBname?data.branch:branchName}}">
    
    <ion-nav-buttons side="left">
        <a ng-click="goToBackPageHandler()" class="cs-backbtn button button-icon icon ion-android-arrow-back font18 fff"></a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right" class="custom-right-btn">
        <div class="right-nav-btn nav-search">
            <a class="mr15" ng-click="stockModel()" menu-toggle="left"><i class="material-icons">filter_list</i></a>
            <a ng-click="onSeachActionHandler('open')" menu-toggle="left"><i class="material-icons">search</i></a>
        </div>
        
        <div ng-class="isSearchBarOpen ? 'active' : ''" class="search-filter">
            <input name="master_search" ng-model="search.master_search" type="text" id="searchData" placeholder="Search..." ng-change ="filterstock(search.master_search)">
            
            <a ng-click = "onSeachActionHandler('close');search.product_code='';suggestiveList=[];getStockData(bCode);" placeholder = "Search" class="close-filter"><i class="material-icons">keyboard_backspace</i></a>
        </div>
    </ion-nav-buttons>
    
    <ion-content>
        <div class="coman-list" ng-repeat="row in productStock">
            
            <div class="center-item">
                <div class="cs-content">
                    <p>SR No. : {{row.product_code}}</p>
                    <span>{{row.product_description}}</span>
                </div>
            </div>
            
            <div class="pdlr">
                <div class="cs-grid">
                    <div class="bdr-field wp100">
                        <span>Intransit Stock</span>
                        <p>{{row.intransit_qty}} {{row.intransit_uom}}</p>
                    </div>
                    
                    <div class="bdr-field wp100">
                        <span>Current Stock</span>
                        <p>{{row.crunnt_stock}} {{row.crunnt_stock_uom}}</p>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="data-not-found ht100" ng-if="productStock.length == 0" >
            <div class="outer">
                <div class="innear">
                    <img src="img/data-not-found.svg" alt="">
                    <h2>Temporarily , No Data Available!</h2>
                </div>
            </div>
        </div>
    </ion-content>
    
    <script id="stock-model" type="text/ng-template">
        <ion-modal-view>
            <div class="orp_model">
                <div class="model_container">
                    <button ng-click="stockCloseModel()" class="model_cancel"><i class="material-icons">cancel</i></button>
                    
                    <div class="mini_container padding16" style="padding-bottom: 0px !important;">
                        <div class="md_heading mb20"><h1>Branch</h1></div>
                        
                        <div class="md_body">                            
                            <div class="field-input">
                                <select ng-model="data.branch" class="browser-default"  required ng-change="showBranchName(data.branch)">
                                    <option value="" disabled selected>Select Type <span>*</span></option>
                                    <option ng-repeat="row in userlist" value="{{row.branch_code}}" >{{row.branch_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="md_footer">
                        <button class="fill full" ng-click="getStockData(data.branch);stockCloseModel()">SUBMIT</button>
                    </div>
                </div>
            </div>
        </ion-modal-view>
    </script>
</ion-view>