<ion-view view-title="Scan - DLR Purchase" hide-nav-bar="true">

    <ion-header-bar class="opr_ion_header">
        <div class="cs-left">
            <button class="back-button" ng-click="goToBackPageHandler()"><i class="material-icons">arrow_back</i></button>
            <h1 class="orp_title">Scan - DLR Purchase</h1>
        </div>
    </ion-header-bar>


    
    <ion-content>
        
        <div class="scn-topbg">
            <div class="orp-select">
                <label>
                    <p>Dealer Firm Name</p>
                    <select>
                        <option value="1">Ram Batteries </option>
                        <option value="1">Ram Batteries </option>
                    </select>
                </label>
            </div>
            
            <div class="firm_info mt16">
                <p><span>Contact Person Name</span> <span>Pankaj Sharma</span></p>
                <p><span>Contact Person Mobile </span> <span>+91 8886322259</span></p>
                <p class="nodf"><span>Address</span><br><span>5E/7 , B.P., Railway Road, Near Neelam Chowk, NIT Faridabad, Haryana 121001</span></p>
            </div>
        </div>
        
        
        
        <div class="orp-date padding16">
            <label>
                <p>Date of Sale</p>
                <input type="date">
            </label>
        </div>
        
        
        <div class="op_pr_heading">
            <h1>Product Information</h1>
            <h2>Scan "<span>02</span>" Products</h2>
        </div>
        
        
        <div class="product_info pb0">
            <div class="figure">
                <div class="code_info">
                    <p>QR Code</p>
                    <p>REFTG7854785TG</p>
                </div>
                
                <div class="prt">
                    <div class="cs-left">
                        <h1>Product #0011</h1>
                        <p>Code#2544</p>
                    </div>
                    <div class="cs-right">
                        <h1>5000</h1>
                        <p>Points</p>
                    </div>
                </div>
            </div>
            
            <div class="figure">
                <div class="code_info">
                    <p>QR Code</p>
                    <p>REFTG7854785TG</p>
                </div>
                
                <div class="prt">
                    <div class="cs-left">
                        <h1>Product #0011</h1>
                        <p>Code#2544</p>
                    </div>
                    <div class="cs-right">
                        <h1>5000</h1>
                        <p>Points</p>
                    </div>
                </div>
            </div>
            
            <!-- <div class="figure">
                <div class="prt">
                    <div class="cs-left">
                        <h1>Product #0011</h1>
                        <p>Code#2544</p>
                    </div>
                </div>
                <div class="ong">
                    <div class="cs-fig">
                        <p>REFTG7854785TG</p>
                        <p>QR Code</p>
                    </div>
                    <div class="cs-fig">
                        <p>05 - 06 - 2020</p>
                        <p>Date of Sale</p>
                    </div>
                </div>
            </div> -->
        </div>
        
        <div class="scn_more padding16" style="padding-top: 6px !important;">
            <a href="#/">
                <div class="thumb"><img src="img/qr_code_barcode.svg" alt=""></div>
                <div class="desc"><h1>Scan More Product</h1></div>
            </a>
        </div>

        <div class="cs_orp-bttn padding16">
            <a href="" class="active">SAVE</a>
        </div>

        
        
    </ion-content>
</ion-view>
