<ion-view view-title="Check Warranty" hide-nav-bar="true">


    <ion-header-bar class="opr_ion_header">
        <div class="cs-left">
            <button class="back-button" ng-click="goToBackPageHandler()"><i class="material-icons">arrow_back</i></button>
            <h1 class="orp_title">Check Warranty</h1>
        </div>
    </ion-header-bar>




    
    <ion-content>
        
        <div class="orp_seacrh">
            <div class="figure">
                <input type="text" placeholder="Search Mobile No.">
                <button><i class="material-icons">clear</i></button>
            </div>
        </div>
        <div class="wr_frinfo">
            <div class="firm_info">
                <p><span>Contact Person Name</span> <span>Pankaj Sharma</span></p>
                <p><span>Contact Person Mobile </span> <span>+91 8886322259</span></p>
                <p class="nodf"><span>Address</span><br><span>5E/7 , B.P., Railway Road, Near Neelam Chowk, NIT Faridabad, Haryana 121001</span></p>
            </div>
        </div>
        <div class="op_pr_heading">
            <h1>Product Information</h1>
        </div>
        
        
        <div class="product_info pb0">
            <div class="figure">
                <div class="prt">
                    <div class="cs-left">
                        <h1>Product #0011</h1>
                        <p>Code#2544</p>
                    </div>
                </div>
                <div class="ong">
                    <div class="cs-fig">
                        <p>REFTG7854785TG</p>
                        <p>QR Code</p>
                    </div>
                    <div class="cs-fig">
                        <p>05 - 06 - 2020</p>
                        <p>Date of Sale</p>
                    </div>
                </div>
            </div>
            
            <div class="figure">
                <div class="prt">
                    <div class="cs-left">
                        <h1>Product #0011</h1>
                        <p>Code#2544</p>
                    </div>
                </div>
                <div class="ong">
                    <div class="cs-fig">
                        <p>REFTG7854785TG</p>
                        <p>QR Code</p>
                    </div>
                    <div class="cs-fig">
                        <p>05 - 06 - 2020</p>
                        <p>Date of Sale</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </ion-content>
</ion-view>
