<ion-view view-title="Profile" hide-nav-bar="true">    
    <ion-content style="background: #4875B5;">
        
        <div class="orp_profile">
            <div class="p_head">
                <div class="cs-left">
                    <button ng-click="goToBackPageHandler()"><i class="material-icons">arrow_back</i></button>
                    <p>My Profile</p>
                </div>

                <div class="cs-right">
                    <button><i class="material-icons">camera_alt</i></button>
                </div>
            </div>

            <div class="profile_info">
                <div class="thumb"><img src="img/outline_profile-icon_black.svg" alt=""></div>
                <div class="pro_info">
                    <h1>Ram & Sons PVT. LTD.</h1>
                    <p>C01785</p>
                </div>
            </div>
        </div>


        <div class="profile_container">
            <div class="org_name">
                <div class="icon"><img src="img/organization_icon.svg" alt=""></div>
                <div class="org_info">
                    <p>Organization</p>
                    <p><span>Okaya</span></p>
                </div>
            </div>

            <div class="basic_info">
                <ul>
                    <li>
                        <img src="img/pro_call_icon.svg" alt="">
                        <p><a href="tel:9685478589">9685478589</a>, <a href="tel:0129 748596">0129 748596</a></p>
                    </li>
                    <li>
                        <img src="img/pro_email_icon.svg" alt="">
                        <p><a href="mailto:Ram_Kmishra011@Gmail.Com">Ram_Kmishra011@Gmail.Com</a></p>
                    </li>
                    <li>
                        <img src="img/pro_home_icon.svg" alt="">
                        <p>5E/7 , B.P., Railway Road, Near Neelam Chowk, NIT Faridabad, Haryana 121001</p>
                    </li>
                </ul>
            </div>

            <div class="contact_persons">
                <h1>Contact Person(S)</h1>

                <div class="figure">
                    <div class="cs-left">
                        <p><i class="material-icons">person</i> <span>Ram Kumar Mishra (HR Manager)</span></p>
                        <p><i class="material-icons">local_post_office</i> <a href="">Ram Kumar Mishra (HR Manager)</a></p>
                    </div>
                    <div class="cs-right"><a href="#/"><i class="material-icons">call</i></a></div>
                </div>

                <div class="figure">
                    <div class="cs-left">
                        <p><i class="material-icons">person</i> <span>Ram Kumar Mishra (HR Manager)</span></p>
                        <p><i class="material-icons">local_post_office</i> <a href="">Ram Kumar Mishra (HR Manager)</a></p>
                    </div>
                    <div class="cs-right"><a href="#/"><i class="material-icons">call</i></a></div>
                </div>
            </div>

        </div>

        

    </ion-content>
</ion-view>


