<ion-view view-title="Scheme & Offers" name="Wallet-History-view"  hide-nav-bar="true">
    
    <ion-header-bar class="opr_ion_header">
        <div class="cs-left">
            <h1 class="orp_title">Scheme & Offers</h1>
        </div>
    </ion-header-bar>
    
    <ion-content>
        <div class="offerlist">
            <a href="#/orptab/orp_offerdetail" class="figure">
                <div class="desc">
                    <div class="off">
                        <h1>Holi Lover Offer #0001</h1>
                        <p>Valid Upto : 5 April 2020</p>
                    </div>
                    <div class="gifts">
                        <div class="t-count">23</div>
                        <div class="gin">
                            <p>Gift</p>
                            <p>Are Available</p>
                        </div>
                    </div>
                </div>
                <div class="thumb"><img src="img/holi_banner.jpg" alt=""></div>
            </a>
            
            <a href="#/orptab/orp_offerdetail" class="figure">
                <div class="desc">
                    <div class="off">
                        <h1>Holi Lover Offer #0001</h1>
                        <p>Valid Upto : 5 April 2020</p>
                    </div>
                    <div class="gifts">
                        <div class="t-count">23</div>
                        <div class="gin">
                            <p>Gift</p>
                            <p>Are Available</p>
                        </div>
                    </div>
                </div>
                <div class="thumb"><img src="img/holi_banner.jpg" alt=""></div>
            </a>
        </div>
    </ion-content>
</ion-view>
