<ion-view view-title="Login" name="login-view" hide-nav-bar="true">
    <ion-content class="gr_bg">
        <div class="login orp_login">
            <div class="logo text-center">
                <img src="img/okaya_orp_logo.png" alt="">
            </div>
            
            <div class="login-form">
                <div class="rg_form">
                    <h2 class="b_head">Registration <a href="#/orp_login"> <i class="material-icons">trending_flat</i> <span>Back</span></a></h2>
                    
                    <div class="cs-add-form">
                        
                        <div class="rg_heading">
                            <h1>Basic Info</h1>
                        </div>

                        <div class="who">
                            <h1>Who Am I</h1>

                            <div class="field-input">
                                <select class="browser-default" required>
                                    <option value="" disabled selected>Select Type</option>
                                    <option value="" >Dealer</option>
                                    <option value="" >Distributor</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-field">
                            <label>First Name</label>
                            <input type="text">
                        </div>
                        
                        <div class="input-field">
                            <label>Last Name</label>
                            <input type="text">
                        </div>

                        <div class="input-field">
                            <label>Firm Name <span>*</span></label>
                            <input type="text">
                        </div>

                        <div class="input-field">
                            <label>GST Number</label>
                            <input type="text">
                        </div>

                        <div class="input-field">
                            <label>PAN number</label>
                            <input type="text">
                        </div>

                        <div class="input-field">
                            <label>Pollution Cert. Number</label>
                            <input type="text">
                        </div>

                        <div class="field-input">
                            <select class="browser-default" required>
                                <option value="" disabled selected>Select Brand <span>*</span></option>
                                <option value="" >Brand 1</option>
                            </select>
                        </div>

                        <div class="field-input">
                            <select class="browser-default">
                                <option value="" disabled selected>Select Category</option>
                                <option value="" >Category 1</option>
                            </select>
                        </div>

                        <div class="field-input">
                            <select class="browser-default" required>
                                <option value="" disabled selected>Select Distributor <span>*</span></option>
                                <option value="" >Distributor 1</option>
                            </select>
                        </div>
                        
                        <div class="input-field">
                            <label>Date of Birth <span>*</span></label>
                            <input type="date">
                        </div>

                        <div class="input-field">
                            <label>Date of Anniversary</label>
                            <input type="date">
                        </div>
                        
                        <div class="input-field">
                            <label>Mobile Number </label>
                            <input type="text">
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email">
                        </div>


                        <div class="rg_heading">
                            <h1>Address Information</h1>
                        </div>

                        <div class="input-field mt5">
                            <label>PIN Code <span>*</span></label>
                            <input type="text">
                        </div>

                        <div class="field-input">
                            <select class="browser-default" required>
                                <option value="" disabled selected>State <span>*</span></option>
                                <option value="" >Haryana</option>
                            </select>
                        </div>

                        <div class="field-input">
                            <select class="browser-default" required>
                                <option value="" disabled selected>District <span>*</span></option>
                                <option value="" >Faridabad</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>City <span>*</span></label>
                            <input type="text">
                        </div>

                        <div class="input-field">
                            <textarea style="height: 70px !important;" required></textarea>
                            <label>Address</label>
                        </div>


                    </div>
                    
                    
                    <div class="btnn mt32">
                        <a href="#/orptab/orp_dashboard" class="active">SAVE</a>
                        <!-- <input type="submit" value="LOGIN"/ class="active"> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
