<ion-view view-title="Login" name="login-view" hide-nav-bar="true">
    <ion-content class="gr_bg">
        <div class="login orp_login">
            <div class="logo text-center">
                <img src="img/okaya_orp_logo.png" alt="">
            </div>
            
            <div class="login-form">
                <div class="list">
                    <h2 class="b_head">Forgot Password <a href="#/orp_login"> <i class="material-icons">trending_flat</i> <span>Back</span></a></h2>
                    <p>Enter Password & Confirm Password</p>

                    <label class="item item-input item-floating-label">
                        <i class="material-icons rotate">vpn_key</i>
                        <input type="text" placeholder="Password" required>
                    </label>
                    
                    <label class="item item-input item-floating-label">
                        <i class="material-icons rotate">vpn_key</i>
                        <input type="text" placeholder="Confirm Password" class="no-margin-bottom" required>
                    </label>
                    
                    
                    <div class="btnn">
                        <a href="#/orp_login">SUBMIT</a>
                        <!-- <input type="submit" value="SUBMIT"/> -->
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
