<ion-view view-title="Dashboard" name="Dashboard-view" hide-nav-bar="true">
    <ion-content>
        <div class="orp-dashboard">
            <div class="logo"><img src="img/okaya_orp_logo.png" alt=""></div>
            <div class="cs-buttons">
                <a class="orp-menu" href="#/orptab/orp_menus">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="14" viewBox="0 0 17.5 14">
                        <g id="Group_1860" data-name="Group 1860" transform="translate(5555 -3149)">
                            <rect id="Rectangle_1" data-name="Rectangle 1" width="17.5" height="2.188" rx="1.094" transform="translate(-5555 3149)"/>
                            <rect id="Rectangle_2" data-name="Rectangle 2" width="11.667" height="2.188" rx="1.094" transform="translate(-5549.167 3154.906)"/>
                            <rect id="Rectangle_3" data-name="Rectangle 3" width="17.5" height="2.188" rx="1.094" transform="translate(-5555 3160.813)"/>
                        </g>
                    </svg>
                </a>
                <button class="notification">
                    <span class="counter">5</span>
                    <i class="material-icons">notifications</i>
                </button>
            </div>
        </div>
        
        
        <div class="orp-info">
            <div class="ds-container">
                <div class="ds-profile"><img src="img/outline_profile-icon.svg" alt=""></div>
                
                <div class="profile-info">
                    <p>Your profile <span>70%</span> Complete</p>
                    
                    <div class="cmt-in"><div style="width: 70%;"></div></div>
                    <p>Welcome Partner</p>
                    <h1>Raj Batteries And Inverters - 3000450</h1>
                    <p class="mb0">Ram Kumar Verma</p>
                    <p class="mt0">9685741582</p>
                </div>
                
                <div class="sale-count">
                    <div class="figure">
                        <p>2547</p>
                        <p>Today</p>
                    </div>
                    <div class="figure">
                        <p>36524</p>
                        <p>MTD</p>
                    </div>
                    <div class="figure">
                        <p>1257496</p>
                        <p>Total YTD</p>
                    </div>
                </div>
                
                <div class="scn-btns">
                    <a class="fl-btn" href="#/orptab/orp_scan">
                        <img src="img/qr-code_icon.svg" alt="">
                        <div class="des">
                            <p>QR Code Scan</p>
                            <p>Click Here To Go "DLR SALE QR Code"</p>
                        </div>
                    </a>
                </div>
                
                <div class="scn-btns">
                    <a href="#/orptab/orp_scan_purchase">
                        <p>DLR Purchase</p>
                        <img src="img/qr-code_icon.svg" alt="">
                    </a>
                    
                    <a href="#/orptab/orp_scan_sale">
                        <p>DLR Sale</p>
                        <img src="img/qr-code_icon.svg" alt="">
                    </a>
                </div>
                
            </div>
        </div>
        
        
        <div class="scheme_en-ds">
            <div class="sc_container">
                <div class="sc_head_info">
                    <div class="scheading"><h1>Scheme enrolled</h1></div>
                    
                    <div class="sc_info">
                        <div class="desc">
                            <h1>Golden Chance In A 2020 - 2021</h1>
                            <p>Valid Upto : 31 March 2021</p>
                        </div>
                        <div class="thumb"><img src="img/scheme_thumb.jpg" alt=""></div>
                    </div>
                </div>
                
                <div class="sc_gift-info">
                    <p class="active">Silver 200 GMS</p>
                    <p class="active">Silver 450 GMS</p>
                    <p class="active">Gold 15 GMS</p>
                    <p>Royal Enfield Classic 300 Cc</p>
                    <p>Maruti 800 Car</p>
                    <p>Baleno Delta Diesel Car</p>
                </div>
            </div>
        </div>
        
        <div class="ods-btns"> <!-- flt -->
            <a href="#/orptab/orp_dealerlist"><img src="img/dealer_icon.svg" alt=""><p>My Dealers</p></a>
            <a href="#/orptab/orp_wallet-history"><img src="img/wallet_icon.svg" alt=""><p>My Wallet</p></a>
            <a href="#/orptab/orp_getreport"><img src="img/report_icon.svg" alt=""><p>Get Reports</p></a>
        </div>
        
        <div class="my-sale">
            <div class="s_head">
                <h1>My Sales</h1>
            </div>
            
            <div class="sl_counts">
                <div class="figure">
                    <p>YTD</p>
                    <h1>&#8377; 25,500,00.00</h1>
                </div>
                <div class="figure">
                    <p>YTD</p>
                    <h1>&#8377; 84,500.00</h1>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
