<ion-view view-title="Menus" name="menu-view" hide-nav-bar="true">
    

    <ion-header-bar class="opr_ion_header">
        <div class="cs-left">
            <button class="back-button" ng-click="goToBackPageHandler()"><i class="material-icons">arrow_back</i></button>
            <h1 class="orp_title">Menus</h1>
        </div>
    </ion-header-bar>



    <ion-content>
        <div class="padding32">
            <div class="menu_container">
                <a href="#/orptab/orp_profile"><img src="img/menu-icon/profile_icon.svg" alt=""><p>My Profile</p></a>
                <a href="#/orptab/orp_mystock"><img src="img/menu-icon/stock_icon.svg" alt=""><p>Stock</p></a>
                <a href="#/orptab/"><img src="img/menu-icon/wallet_icon.svg" alt=""><p>Wallet History</p></a>
                <a href="#/orptab/"><img src="img/menu-icon/transaction_history_icon.svg" alt=""><p>Transaction History</p></a>
                <a href="#/orptab/"><img src="img/menu-icon/change_pass_icon.svg" alt=""><p>Change Password</p></a>
                <a href="#/orptab/orp_warranty"><img src="img/menu-icon/warranty_icon.svg" alt=""><p>Warranty</p></a>
                <a href="#/orptab/"><img src="img/menu-icon/product_catalouge_icon.svg" alt=""><p>Product Catalogue</p></a>
                <a href="#/orptab/orp_pricelist"><img src="img/menu-icon/pricelist_icon.svg" alt=""><p>Pricelist </p></a>
                <a href="#/orptab/"><img src="img/menu-icon/brms_icon.svg" alt=""><p>BRMS</p></a>
                <a href="#/orptab/orp_invoice"><img src="img/menu-icon/upload_invoice_icon.svg" alt=""><p>Upload Invoice</p></a>
                <a href="#/orptab/"><img src="img/menu-icon/contacts_icon.svg" alt=""><p>Contact Us</p></a>
                <a href="#/orptab/orp_faq"><img src="img/menu-icon/faq_icon.svg" alt=""><p>Faqs</p></a>
                <a href="#/orptab/orp_support"><img src="img/menu-icon/support_icon.svg" alt=""><p>Support</p></a>
                <a href="#/orptab/"><img src="img/menu-icon/logout_icon.svg" alt=""><p>log out</p></a>
            </div>
        </div>
    </ion-content>
</ion-view>
