<ion-view view-title="Price List" name="Scan-view" hide-nav-bar="true">

    <ion-header-bar class="opr_ion_header">
        <div class="cs-left">
            <button class="back-button" ng-click="goToBackPageHandler()"><i class="material-icons">arrow_back</i></button>
            <h1 class="orp_title">Price List</h1>
        </div>
        <div class="cs-right">
            <button ng-click="pricelistOpenModel()"><i class="material-icons">filter_list</i></button>
        </div>
    </ion-header-bar>


    <ion-content>
        
        <div class="orp_seacrh">
            <div class="figure">
                <input type="text" placeholder="Search ">
                <button><i class="material-icons">clear</i></button>
            </div>
        </div>

        <div class="bx-listing">

            <a href="#/">
                <div class="description">
                    <div class="cs-left">
                        <h1>Product Name</h1>
                        <p>SR No. : OKAYA#$84THY75815266</p>
                    </div>
                    <div class="cs-right">
                        <p class="price">25,0.00 /-</p>
                    </div>
                </div>
            </a>

            <a href="#/">
                <div class="description">
                    <div class="cs-left">
                        <h1>Product Name</h1>
                        <p>SR No. : OKAYA#$84THY75815266</p>
                    </div>
                    <div class="cs-right">
                        <p class="price">25,0.00 /-</p>
                    </div>
                </div>
            </a>

            <a href="#/">
                <div class="description">
                    <div class="cs-left">
                        <h1>Product Name</h1>
                        <p>SR No. : OKAYA#$84THY75815266</p>
                    </div>
                    <div class="cs-right">
                        <p class="price">25,0.00 /-</p>
                    </div>
                </div>
            </a>

            <a href="#/">
                <div class="description">
                    <div class="cs-left">
                        <h1>Product Name #001</h1>
                        <p>SR No. : OKAYA#$84THY75815266</p>
                    </div>
                    <div class="cs-right">
                        <p class="price">25,0.00 /-</p>
                    </div>
                </div>
            </a>

            <a href="#/">
                <div class="description">
                    <div class="cs-left">
                        <h1>Product Name #001</h1>
                        <p>SR No. : OKAYA#$84THY75815266</p>
                    </div>
                    <div class="cs-right">
                        <p class="price">25,0.00 /-</p>
                    </div>
                </div>
            </a>

            <a href="#/">
                <div class="description">
                    <div class="cs-left">
                        <h1>Product Name #001</h1>
                        <p>SR No. : OKAYA#$84THY75815266</p>
                    </div>
                    <div class="cs-right">
                        <p class="price">25,0.00 /-</p>
                    </div>
                </div>
            </a>
        </div>
        
    </ion-content>




    
    <script id="pricelist_filter" type="text/ng-template">
        <ion-modal-view>
            
            <div class="orp_model price-filter">
                <div class="model_container">
                    <div class="fl-header">
                        <button ng-click="pricelistCloseModel()"><i class="material-icons">keyboard_arrow_down</i></button>
                        <p>FILTERS</p>
                        <button ng-click="pricelistCloseModel()">Clear</button>
                    </div>

                    <div class="filter-body">
                        <div class="cs-left">
                            <button class="active">Brand</button>
                            <button>Category</button>
                        </div>
                        <div class="cs-right">
                            <div class="inputss">
                                <label><input type="checkbox"> <span>Okaya</span></label>
                                <label><input type="checkbox"> <span>Nasaka</span></label>
                                <label><input type="checkbox"> <span>Microtek</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="md_footer">
                        <button class="full">Apply</button>
                    </div>
                </div>
            </div>
        </ion-modal-view>
    </script>  









</ion-view>
