<ion-view view-title="Support" hide-nav-bar="true">


    <ion-header-bar class="opr_ion_header">
        <div class="cs-left">
            <button class="back-button" ng-click="goToBackPageHandler()"><i class="material-icons">arrow_back</i></button>
            <h1 class="orp_title">Support</h1>
        </div>
    </ion-header-bar>







    
    <ion-content>
        <div class="padding16">
            <div class="orp-select">
                <label>
                    <p>Select Category</p>
                    <select>
                        <option value="1">Select an option</option>
                    </select>
                </label>
            </div>
            
            <div class="orp-textarea mt10"><textarea placeholder="Address"></textarea></div>
            
            <div class="cs_orp-bttn mt16">
                <a href="" class="active">SAVE</a>
            </div>
        </div>
        
        
        
        
        <div class="op_heading"><h1>History</h1></div>
        
        <div class="dealer-list">
            <div class="figure">
                <div class="dl_info">
                    <a class="cs-left" href="#/">
                        <div class="naming">
                            <p><span>12 April 202 &nbsp;</span> Lorem Ipsum Is Simply Dummy Text.</p>
                        </div>
                    </a>
                </div>
                <a class="dl-add" href="#/">
                    <p><span>Remark</span><br>It is a long established fact that a reader will be distracted by the readable</p>
                </a>
            </div>

            <div class="figure">
                <div class="dl_info">
                    <a class="cs-left" href="#/">
                        <div class="naming">
                            <p><span>12 April 202 &nbsp;</span> Lorem Ipsum Is Simply Dummy Text.</p>
                        </div>
                    </a>
                </div>
                <a class="dl-add" href="#/">
                    <p><span>Remark</span><br>It is a long established fact that a reader will be distracted by the readable</p>
                </a>
            </div>
        </div>
        
    </ion-content>
</ion-view>
